@import "src/@fuse/scss/fuse";
#home {
  background-color: white;
  .outer {
    border-bottom: 1px solid rgba(255, 85, 0, 0.1);
    position: relative;
    z-index: 1;
    .bg {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("assets/images/header_2.png");
      opacity: 0.1;
      background-repeat: no-repeat;
    }
    width: 100%;
    object-fit: contain;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
  }
  .topbarClass {
    background: url("/assets/images/backgrounds/header 2.png") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .progressBarPostion {
    position: absolute !important;
    top: 350px;
    z-index: 1;
    left: 55%;
  }
  .center {
    padding: 0px !important;
    max-width: 2000px;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
      padding: 0 !important;
    }
    #headerCard {
      position: fixed;
      height: 50px;
      box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      top: 0px;
      left: 0px;
      right: 0px;
      margin-bottom: 0px;
      z-index: 100;
    }
    .content-pos {
      margin-top: -27px !important;
    }
    .content-card1 {
      display: flex;
      flex: 1;
      position: relative;
      border-radius: 10px;

      //   .mat-sidenav-container {
      //     display: flex;
      //     flex: 1;
      //     width: 100%;

      //     > .mat-sidenav-content,
      //     > .mat-drawer-content {
      //       display: flex;
      //       flex: 1 1 auto;
      //       min-height: 100%;
      //       height: auto;
      //     }

      //     > .mat-drawer-content {
      //       max-width: 100%;
      //     }

      //     mat-sidenav {
      //       display: flex;
      //       flex-direction: column;
      //       width: 400px;
      //       max-width: 90%;
      //       box-shadow: 0 0 1px rgba(0, 0, 0, 0.37);
      //       overflow: hidden;
      //     }
      //   }
    }
  }
  .search {
    height: 36px;
    line-height: 36px;
    padding: 8px;
    font-size: 13px;
    // border-radius: 18px;
    border: 1px solid;
    overflow: hidden;
    background-color: #ffffff;
    border-color: #ffffff;
    // border-color: rgba(0, 0, 0, 0.12);
    @include mat-elevation(1);

    mat-icon.s-16 {
      color: rgba(0, 0, 0, 0.54) !important;
    }

    .icon {
      margin: 0;
      color: rgba(0, 0, 0, 0.54);
    }

    input {
      padding: 0 12px 0 8px;
      background-color: #ffffff;
      height: 36px;
      border: none;
    }
  }
  .side-bar {
    display: flex;
    flex: 1;
    flex-direction: column;
    .sidenav-content {
      overflow: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
    }
  }
  .side-bar-items {
    text-decoration: none !important;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 24px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    margin-right: 7px;
  }
  .SaveBtn {
    background-color: #efb577;
    color: white;
    margin-bottom: 8px;
  }
  .DeleteBtn {
    background-color: white;
    color: #efb577;
  }
  .calendarImg {
    height: 20px;
    margin-bottom: 12px;
  }
  .addAttachmentClass {
    padding-left: 70px;
    font-weight: 600;
    cursor: pointer !important;
    color: #74a2f9;
  }
  .addIcon {
    height: 26px;
    margin-top: 25px;
    padding-left: 8px;
    cursor: pointer !important;
  }
  .cardHeader {
    background-color: #fffdf9;
    height: 45px;
  }
  .boldClass {
    font-weight: bold;
  }
  .boldItalicClass {
    @extend .boldClass;
    font-style: italic;
  }
  .semiBoldClass {
    font-weight: 500;
  }
  .leftCard {
    @include mat-elevation(2);
    background: white;
    border-left: 5px solid #efb577;
    margin-left: 20px;
    cursor: pointer !important;
  }
  .subTitle {
    @extend .semiBoldClass;
    font-size: 12px;
    color: #d87060;
  }
  .addIcon {
    height: 20px;
    margin-top: 16px;
    padding-left: 4px;
    cursor: pointer !important;
  }
  .addAttachmentClass {
    margin-top: 25px;
    color: #4784f7;
    cursor: pointer !important;
  }
  .addBlueIcon {
    @extend .addIcon;
    margin-top: 0px;
    height: 15px;
  }
  .attachClass {
    // margin-top: 25px;
    padding-left: 8px;
    cursor: pointer !important;
    color: #4784f7;
  }
  .removeIcon {
    height: 20px;
    padding-right: 16px;
    cursor: pointer !important;
  }
  .mat-input-element:disabled {
    color: rgba(0, 0, 0, 0.87) !important;
    // background: whitesmoke !important;
    // cursor: not-allowed !important;
  }
  // .tableData {
  //   overflow: auto;
  //   height: 60vh !important;
  //   min-height: 60vh !important;
  //   // max-height: 33vh !important;
  //   .table {
  //     width: 150vw;
  //     max-width: 100%;
  //     overflow: auto;
  //     margin-bottom: 10px;
  //     display: table;
  //     border-collapse: collapse;
  //     margin: 0px;
  //     // background-color: rgb(238, 238, 238);
  //   }
  //   .row,
  //   .header-row {
  //     display: table-row;
  //     min-height: 36px !important;
  //   }
  //   .mat-row:hover {
  //     background-color: lightgrey;
  //   }
  //   .cell,
  //   .header-cell {
  //     word-wrap: initial;
  //     display: table-cell;
  //     padding: 0px 5px;
  //     line-break: unset;
  //     width: fit-content;
  //     white-space: nowrap;
  //     overflow: hidden;
  //     vertical-align: middle;
  //     text-align: center;
  //   }
  //   .header-row,
  //   .header-cell {
  //     margin: 0 auto;
  //     min-height: 100px !important;
  //     text-align: center;
  //     vertical-align: middle;
  //     align-self: center;
  //   }
  //   .mat-card {
  //     min-width: max-content;
  //     max-width: max-content;
  //   }
  //   .sort-header {
  //     display: flex;
  //     align-content: center;
  //     text-align: center;
  //     justify-content: center;
  //     font-size: 12pt;
  //   }
  //   .header-cell {
  //     font-weight: bold;
  //   }
  // }

  @mixin TableBorderRight($color) {
    border-right: 1px solid $color;
  }

  .TableCommon {
    padding: 5px;
    font-size: 14px;
    min-width: 50px !important;
    white-space: nowrap;
  }

  table {
    width: 100%;

    th {
      @include TableBorderRight(gray);
      @extend .TableCommon;
      // min-width: max-content !important;
      color: white;
      background-color: #121214;
    }

    td {
      @include TableBorderRight(rgba(0, 0, 0, 0.12));
      @extend .TableCommon;
      // min-width: max-content !important;
      &.QtyClass {
        text-align: right;
      }
      .mat-form-field-underline {
        display: none;
      }
    }

    tr {
      height: 40px;
    }

    .mat-sort-header-container {
      display: flex;
      justify-content: center;
    }
  }
  .abnormal {
    .mat-form-field-flex > .mat-form-field-infix {
      padding: 0.3em 0px !important;
    }
    .mat-form-field-label-wrapper {
      top: -1.5em;
    }
    .mat-form-field-wrapper {
      margin: 0 !important;
      padding-bottom: 4px !important;
      padding-top: 4px !important;
    }
    .mat-form-field-appearance-outline .mat-form-field-flex {
      padding: 0 0.4em 0 0.4em;
    }
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.1em) scale(0.75);
      width: 133.33333%;
    }
    .mat-form-field-outline-start,
    .mat-form-field-outline-end {
      border-radius: 0 !important;
    }
  }
  // td.mat-cell {
  //   /* row padding */
  //   padding: 16px 0;
  //   /* row border */
  //   border-bottom: 1px solid #ffa600;
  //   border-top: 1px solid #ffa600;
  //  }

  //  td.mat-cell:first-child {
  //    /* row border */
  //    border-left: 1px solid #ffa600;
  //  }

  //  td.mat-cell:last-child {
  //    /* row border */
  //    border-right: 1px solid #ffa600;
  //  }

  //  table {
  //    /* row spacing / margin */
  //    border-spacing: 0 8px !important;
  //  }
  .whiteBg {
    background-color: white !important;
  }
  .btnBg {
    background-color: #efb577 !important;
    color: white;
  }
  .tile {
    @include mat-elevation(2);
    min-height: 60px !important;
    max-height: 250px !important;
    img {
      height: 36px;
    }
    cursor: pointer;
  }
  .redBorderBottom {
    border-bottom: 2px solid #f3705a;
  }
  .orangeBorderBottom {
    border-bottom: 2px solid #ffd15c;
  }
  .rightCard {
    min-height: 300px !important;
    background-color: #f5f5f5;
  }
  .topLeftBorderRadius {
    border-top-left-radius: 20px;
  }
  .ticketTile {
    background-color: white;
    border-left: 5px solid #cccccc;
  }
  .italicClass {
    font-style: italic;
  }
  .underline1 {
    height: 2.5px;
    width: 80px;
    margin-top: -6px;
    margin-left: 18px;
    background-color: red;
  }
  .underline2 {
    height: 2.5px;
    width: 126px;
    margin-top: -6px;
    margin-left: 18px;
    background-color: red;
  }
  .underline3 {
    height: 2.5px;
    width: 139px;
    margin-top: -6px;
    margin-left: 18px;
    background-color: red;
  }
  .underline4 {
    height: 2.5px;
    width: 92px;
    margin-top: -6px;
    margin-left: 18px;
    background-color: red;
  }
  .underline5 {
    height: 2.5px;
    width: 100px;
    margin-top: -6px;
    margin-left: 18px;
    background-color: red;
  }
  .underline6 {
    height: 0;
    width: 288px;
    margin-top: -3px;
    border: solid 1px #efb577;
    margin-left: 52px;
  }
  .cl_mat_card {
    border-radius: 2px;
    margin-left: 26px;
    margin-right: 26px;
    min-height: 160px;
    // margin-top: 12px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
  }
  .cl_1 {
    width: 20px;
    height: 0px;
    font-family: SegoeUI;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.69;
    letter-spacing: 0.56px;
    text-align: left;
    color: #1d1d1d;
  }
  .cl_p1 {
    // width: 1580px;
    // height: 157px;
    // font-family: SegoeUI;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.57px;
    text-align: left;
    color: #3e3e3e;
  }
  .avatar1 {
    height: 40px !important;
    width: 40px !important;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
  }
  .intervalclass {
    @extend .italicClass;
    @extend .semiBoldClass;
    font-size: small;
  }
  .subHeader {
    font-weight: 500;
  }
  .outer-circle {
    height: 100px;
    width: 100px;
    border: 3px dashed red;
    border-radius: 50%;
    position: relative;
  }
  .inner-circle {
    // height: 75px;
    // width: 75px;
    // border: 1px solid #f3705a;
    // border-radius: 50%;
    // background-color: white;
    position: absolute;
    top: 11%;
    left: 11%;
  }
  .chart-legend .legend-labels {
    width: 100px;
  }
  .search {
    height: 36px;
    line-height: 36px;
    padding: 8px;
    font-size: 13px;
    // border-radius: 18px;
    border: 1px solid;
    overflow: hidden;
    background-color: #ffffff;
    border-color: #ffffff;
    // border-color: rgba(0, 0, 0, 0.12);
    @include mat-elevation(1);
    border: 1px solid #c3c3c3;
    mat-icon.s-16 {
      color: rgba(0, 0, 0, 0.54) !important;
    }

    .icon {
      margin: 0;
      color: rgba(0, 0, 0, 0.54);
    }

    input {
      padding: 0 12px 0 8px;
      background-color: #ffffff;
      height: 36px;
      border: none;
    }
  }
  .doughnutChartPosition {
    margin-bottom: 8px;
    position: relative;
    left: 54%;
  }
  #doughnutChart {
    canvas {
      // width: 200px !important;
      height: 140px !important;
    }
  }
  #barChart {
    canvas {
      // width: 200px !important;
      height: 170px !important;
    }
  }

  // .mat-form-field-appearance-outline {
  //   .mat-form-field-outline {
  //     color: rgba(0, 0, 0, 0.5) !important;
  //   }
  // }
  // .mat-form-field-appearance-outline.ng-invalid.ng-touched {
  //     .mat-form-field-outline {
  //         color: red !important;
  //     }
  // }

  // .mat-form-field-appearance-outline.ng-valid {
  //     .mat-form-field-outline {
  //         color: rgba(0, 0, 0, 0.5) !important;
  //     }
  // }

  // .mat-form-field-appearance-outline .mat-form-field-outline {
  //   top: 0.4em !important;
  // }
  // .mat-form-field-flex > .mat-form-field-infix {
  //   padding: 0.002em 0px !important;
  // }
  // .normal .mat-form-field-flex > .mat-form-field-infix {
  //   padding: 0.4375em 0 !important;
  // }
  // .mat-form-field-label-wrapper {
  //   top: -1em;
  // }

  // .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  //   transform: translateY(-0.5em) scale(0.75);
  // }

  // .mat-form-field-suffix .mat-icon-button {
  //   width: 2.5em;
  //   height: 1.5em !important;
  // }

  // .mat-form-field-appearance-outline .mat-form-field-outline-start {
  //   border-radius: 0px 0 0 0px !important;
  // }
  // .mat-form-field-appearance-outline .mat-form-field-outline-end {
  //   border-radius: 0px 0 0 0px !important;
  // }

  // .mat-form-field-outline-gap {
  //   border: 1px solid #1b56ca;
  //   border-radius: 1e-6px;
  // }
  // .mat-form-field-wrapper {
  //   padding-bottom: 0.7em !important;
  // }
  .tableLeftBorder {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }

  .roundCommon {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
  }

  .round {
    @extend .roundCommon;
    background-color: white;
    border-color: gray;
  }
  // .round1 {
  //   @extend .roundCommon;
  //   background-color: white;
  //   border-color: #34ad65;
  // }
  .hor-timeline {
    height: 8px;
    margin-top: 5px;
    //border-radius: 4px;
  }
  .green-timeline {
    @extend .hor-timeline;
    background-color: #34ad65;
  }
  .orange-timeline {
    @extend .hor-timeline;
    background-color: #efb577;
  }
  .white-timeline {
    @extend .hor-timeline;
    background-color: white;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }
  .Rectangle {
    // width: 152px;
    min-height: 50px;
    border-radius: 9px;
    border: solid 1px #cccccc;
    background-color: #ffffff;
    cursor: pointer !important;
  }
  .Rectangle-106 {
    width: 36px;
    height: 33px;
    opacity: 0.2;
    border-radius: 2px;
    background-color: #f9d2a8;
  }
  .tableCellBorder {
    height: 20px;
    vertical-align: middle;
    width: 10px;
    background-color: #d87e39;
    opacity: 0.7;
  }
  .next {
    background-color: #e8ffeb;
    padding: 4px 2px;
  }

  .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.3em 0px !important;
  }
  .mat-form-field-label-wrapper {
    top: -1.5em;
  }
  .mat-form-field-wrapper {
    margin: 1em 0 0 0;
    padding-bottom: 1em;
  }

  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
  }

  .progress__svg {
    transform: rotate(-90deg);
  }

  .progress__meter,
  .progress__value {
    fill: none;
  }

  // .progress__meter {
  //   stroke: #ccc;
  //   stroke-dasharray: 2;
  // }

  // .progress__value {
  //   stroke: green;
  //   stroke-dasharray: 2;
  //   transition: all;
  // }
  .progress__meter {
    stroke: #f3705a;
  }

  .progress__value {
    stroke: #efefef;
    opacity: 0.9;
    transition: all 100ms;
  }
  .progressSubtitle {
    fill: #f3705a !important;
  }
  .pdfLinkClass {
    color: #1e8bed;
    cursor: pointer;
  }
  #footerCard {
    position: fixed;
    height: 50px;
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    bottom: 40px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    z-index: 100;
  }
  .cardActions {
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.16);
  }
  .WeightError {
    color: #f44336;
    font-size: 12px;
    margin-top: -16px;
    // margin-left: 32px;
  }
  .AttError {
    color: #f44336;
    font-size: 12px;
  }
  .floatBtn {
    position: fixed;
    bottom: 80px !important;
  }

  .side {
    width: 0%;
  }
  .example-container {
    height: 900px;
    /* margin: 10px; */
    border: none;
  }
  .cl_matdrawer {
    width: 62px;
    background-color: #121214;
  }
  .cl_matdrawer {
    width: 62px;
    background-color: #121214;
  }
  .cl_menu {
    height: 40px;
    margin-top: 10px;
  }
  .cl_home {
    height: 23px;
  }
  .hoversidenav {
    text-align: center;
    line-height: 1.3;
  }
  .hoversidenav1 {
    line-height: 1.3;
    margin-left: 37px;
  }
  .cl_hometxt {
    color: #eceaea;
    font-size: 9px;
  }
  .cl_detailtxt {
    font-size: 9px;
    color: #646467;
  }
  .cl_ordertxt {
    color: #646467;
    font-size: 7px;
  }
  .cl_asn {
    height: 20px;
  }
  .cl_home1 {
    height: 20px;
  }
  .matdivider {
    background-color: #5c5c61;
    height: 1px;
    weight: 1px;
  }
  .settings {
    height: 15px;
    margin-left: -35px;
  }
  .power {
    height: 15px;
    margin-left: 21px;
  }
  .matdivider1 {
    width: 1px;
    height: 19px;
    margin-top: -20px;
    /* opacity: 0.1; */
    /* border-width: thick; */
    margin-left: -10px;
    background-color: #5c5c61;
  }
  .divhover div:hover {
    border-color: #f4cda4;
    border-bottom-style: solid;
    /* width: 53px; */
    background-color: #484141;
  }
  .divhover1 {
    border-color: #f4cda4;
    border-bottom-style: solid;
    /* width: 53px; */
    background-color: #484141;
  }

  .order_header {
    color: #3e3e3e;
    letter-spacing: 0.64px;
    line-height: 0.6;
    font-size: 19px;
    font-weight: bold;
  }
  .coe_card {
    margin-left: 26px;
    margin-right: 26px;
    min-height: 160px;
    margin-top: 12px;
    /* border-style: solid; */
    /* background-color: yellowgreen; */
    /* border-style: solid; */
  }
  // .mat-card {
  //   &:not([class*="mat-elevation-z"]) {
  //     box-shadow: 0px 1px 0px 0.1px rgb(234,229,229), 0px 0px 0px 0px rgb(0,0,0),
  //       0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  //   }
  // }
  .coe_message {
    font-weight: 500;
    font-stretch: normal;
    font-size: 20px;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 1.28px;
    color: #2e2e2e;
    padding-top: 16px;
  }
  /* .cl_innerdiv{
width:20%;
} */
  .colon {
    font-family: inherit;
    font-size: 37px;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.57;
    letter-spacing: 1.92px;
    text-align: left;
    width: 30px;
    height: 82px;
    color: #646464;
    margin-top: 25px;
  }
  .colon1 {
    font-family: inherit;
    font-size: 48px;
    // font-stretch: normal;
    // font-style: normal;
    // line-height: 0.57;
    // letter-spacing: 1.92px;
    position: absolute;
    bottom: 26px;
    right: 62%;
    cursor: alias;
  }
  .man_image {
    height: 114px;
  }
  @media screen and (min-width: 950px) and (max-width: 100px) {
    .colon1 {
      font-family: inherit;
      font-size: 48px;
      // font-stretch: normal;
      // font-style: normal;
      // line-height: 0.57;
      // letter-spacing: 1.92px;
      position: absolute;
      bottom: 26px;
      right: 62%;
      cursor: alias;
    }
  }
  @media screen and (min-width: 200px) and (max-width: 500px) {
    .coe_message {
      font-weight: bold;
      font-stretch: normal;
      font-size: 71%;
      font-style: normal;
      line-height: 20px;
      letter-spacing: 1.28px;
      color: #2e2e2e;
    }
  }
  @media screen and (min-width: 300px) and (max-width: 400px) {
    .coe_message {
      font-weight: bold;
      font-stretch: normal;
      font-size: 71%;
      font-style: normal;
      line-height: 20px;
      letter-spacing: 1.28px;
      color: #2e2e2e;
    }
  }
  @media screen and (min-width: 300px) and (max-width: 400px) {
    .man_image {
      height: 64px;
    }
  }
  @media screen and (min-width: 200px) and (max-width: 500px) {
    .man_image {
      height: 64px;
    }
  }
  .cl_tim {
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 1.7; */
    letter-spacing: 0.64px;
    color: #383838;
    font-size: 12px;
  }
  .cl_ceo {
    margin-right: 13px;
    font-size: 15px;
    color: #f04747;
  }
  .overall {
    font-size: 14px;
    color: #2e2e2e;
    line-height: 1.37;
    letter-spacing: 0.76px;
    margin: 8px;
  }
  .Quality {
    font-size: 14px;
    color: #2e2e2e;
    line-height: 1.37;
    letter-spacing: 0.76px;
    font-weight: 500;
    margin: 8px;
  }
  .cl_card {
    background-color: white;
    padding: 12px;
  }
  // .matshadow.mat-card {
  //   &:not([class*="mat-elevation-z"]) {
  //     box-shadow: 0px 2px 0px 0.4px rgb(234, 229, 229), 0px 0px 0px 0px rgb(0,0,0),
  //       0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  //   }
  // }

  .cl_matdividerflex {
    margin-top: -8px;
    border-color: #fb863a;
  }
  .cl_matdividerflex2 {
    margin-top: -8px;

    border-color: #ffd15c;
  }
  .chart_font {
    font-size: 3px !important;
  }
  .cl_matdividerinner {
    margin-top: -8px;
  }
  .divider_inner {
    width: 0%;
    border-color: #ebebed;
    height: 30%;
    border-width: thin;
  }
  .cl_round {
    border-radius: 29px;
    background-color: #ffd15c;
    height: 13px;
    width: 13px;
  }
  .cl_round2 {
    border-radius: 29px;
    background-color: #34ad65;
    height: 13px;
    width: 13px;
  }
  .cl_avg {
    line-height: 0.55;
    letter-spacing: 0.53px;
    text-align: center;
    color: #485865;
    font-weight: 500;
    font-size: 12px;
  }

  .supplier {
    margin-left: 25px;
    margin-top: 28px;
    font-size: 18px;
    font-weight: 500;
    width: 535px;
    height: 31px;
    /* font-family: SegoeUI; */
    font-size: 19px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.6;
    letter-spacing: 0.64px;
    text-align: left;
    color: #3e3e3e;
  }
  .divider_underline {
    margin-top: -8px;
    border-color: #fb863a;
    width: 263px;
    margin-left: 41px;
    /* height: 8px; */
    border-width: medium;
  }
  .supplierconduct {
    background-color: #f5f6fa;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 16px;
    margin-bottom: 10px;
    min-height: 120px;
  }
  .cl_75 {
    position: absolute;
    /* top: 50%; */
    /* left:33%; */
    font-weight: 600;
    opacity: 0.7;
    font-size: 14px;
  }
  .div_tim {
    text-align-last: end;
    margin-right: 9%;
    line-height: 0.1;
    margin-top: 10px;
    white-space: nowrap;
    margin-left: -8px;
  }
  .cl_outermost {
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .div_average {
    height: 100%;
    margin-left: 10px;
  }
  .cl_gaugechart {
    /* width:30px; */
    /* height:200px; */
  }
  .cl_73 {
    position: absolute;
    /* top: 69%;left:35%; */
    font-weight: 600;
    opacity: 0.7;
    font-size: 14px;
  }
  .cl_efficiny {
    position: absolute;
    /* top: 5px; */
    margin-top: 24px;
    /* left:33%; */
    font-weight: 600;
    opacity: 0.7;
    font-size: 8px;
    color: #ea2e2e;
  }
  .div_outerheight {
    height: 100%;
  }
  .cl_90 {
    position: absolute;
    top: 50%;
    left: 33%;
    font-weight: 600;
    opacity: 0.7;
    font-size: 14px;
  }
  .svg_innner {
    /* background-color: burlywood; */
  }
  @media screen and (max-width: 800px) {
    .doughnut_chart {
      width: 74%;
      margin-left: 23px;
      /* width: 308px !important;
                    margin-left: -44px; */
      /* new */
      /* width: 263px;
                    margin-left: -18px;
                    margin-bottom: 5px !important; */
    }
  }
  .doughnut_chart {
    margin-bottom: 5px !important;
    /* height: 140px; */
    /* width: 376px ; */
    /* height: 127px; */
    /* height: 122px; */
    /* margin-bottom: 5px !important; */
  }
  .cl_colon {
    background-color: red;
    // align-self: flex-end;
    height: 0px;
  }
  .cl_divider1 {
    width: 108px !important;
  }
  .cl_divider02 {
    width: 98px;
  }
  .cl_divider03 {
    width: 88px;
  }
  .cl_divider104 {
    width: 100px;
  }
  .cl_svg {
    position: absolute;
  }
  .cl_divflex {
    margin-left: 20px !important ;
  }
  .cl_cardflex {
    justify-content: flex-end;
  }
  .cl_divheight {
    height: 100%;
  }
  .cl_divider2 {
    width: 172px !important;
  }
  .cl_divider3 {
    width: 123px !important;
  }
  .cl_divider4 {
    width: 129px !important;
  }
  .cl_divider6 {
    width: 156px !important;
  }
  .messagesty {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.09;
    text-align: left;
    color: #3e3e3e;
    overflow-wrap: break-word;
    word-break: break-word;
  }
  .cl_divcards{
    width: 100%;
    margin-left: 24px;
    margin-top: 29px;
  }
  .offers_div{
width:46%
  }
  .product_div{
    width: 46%;
    margin-left: 56px;
  }
  .cl_discount{
    width: 37%;
  }
  .offers_h5{
    text-align-last: center;
  }
  .cl_launch{
    width: 46%;
  }
}
