<div id="home" class="page-layout carded fullwidth">
  <div class="center">
    <div class="outer" fxLayout>
      <div class="bg"></div>
      <div fxLayout="row">
        <h3 class="head1"><b>WELCOME</b></h3>
        <h3 style="margin: 0px;padding-left: 10px;color:#d87060"><b>{{authenticationDetails?.DisplayName | uppercase}}</b></h3>
      </div>
      <div fxFlex align="end">
        <span><img src="assets/images/logo.svg" class="logoClass"></span>
      </div>
    </div>
    <div fxLayout="column" class="content-card1">
      <div fxLayout="row" fxLayout.xs="row">

        <mat-card fxFlex.lg="100" fxFlex.lt-xl="100" fxFlex.sm="100" fxFlex.gt-sm="100" class="coe_card p-0 px-12">

          <div fxFlex>

            <div class="coe_message">Welcome Message !</div>
            <div fxLayout fxLayoutAlign="start start">
              <!-- <div  class="colon">“</div> -->
              <div class="messagesty" [innerHtml]="selectedWelcomeMessage?.WelcomeMessage"></div>
              <!-- <div class="colon1 pt-16">”</div> -->
            </div>


          </div>
         
        </mat-card>
      </div>
      <div fxLayout="row" class="cl_divcards">
        <div class="offers_div">
          <mat-card>
         <h5 class="offers_h5"> <img src="assets//images/Discount.png" class="cl_discount"> </h5>  
          </mat-card>
        </div>
        <div class="product_div">
          <mat-card>
            <h5 class="offers_h5"> <img src="assets//images/launch.png" class="cl_launch"> </h5>  
          </mat-card>
        </div>
        
       
      </div>
     
    </div>
   
  </div>
 
</div>