<div fxLayout="column" style="background-color: #f7f7f7;width: 37.5rem;height: 30%;margin-left: -25px;margin-top: -25px;">
  <div fxLayout="column" style="margin-left: 40px;
  margin-top: 25px;" >
  <div fxLayout='row' fxLayouytAlign="start">
      <div fxFlex='50'>
  <label class="label_title">RFQ No: </label>
  <label class="label_Ans"> 1234567890</label>
</div>
<div fxFlex='50'fxLayouytAlign="end" style="text-align: end;
margin-right: 30px;">
  <div >
      <label class="label_title">Qty: </label>
      <label class="label_Ans">20</label>
      </div>
  </div>
  </div>
  
  <div style="margin-top: 30px;">
      <label class="label_title">Item Text:</label>
  </div>
  <div style="margin-top: 30px;">
      <label class="label_Ans">Item related all text will come over here.</label>
  </div>


</div>
<div fxFlex fxLayout="column" fxLayoutGap="20px" class="Gap_class" >
  <span class="cls_space">USP</span>
  <div fxLayout="column" class="Remarks_box1">
      <div fxFlex="100">
          <mat-form-field  class="Remarks_style" >
              <label style="margin-left: 20px;">Enter your response here</label>
              <input class="Input_remarks"  matInput >
          </mat-form-field>
      </div>
      <br>
      
      <div fxLayoutAlign="end">
          <img class="sendIcon"  src="assets/image/send.png" >
      </div>
  </div>
</div>
<div fxFlex fxLayout="column" fxLayoutGap="20px" style="margin-top: -18px;" >
  <span class="cls_space">Remarks</span>
  <div fxLayout="column" class="Remarks_box1">
      <div fxFlex="100">
          <mat-form-field  class="Remarks_style" >
              <label style="margin-left: 20px;">Enter your response here</label>
              <input class="Input_remarks"  matInput >
          </mat-form-field>
      </div>
      <br>
      
      <div fxLayoutAlign="end">
          <img class="sendIcon"  src="assets/image/send.png" >
      </div>
  </div>
</div>

<div fxLayoutAlign="center">
  <button mat-button class="Rectangle-55">Submit</button>

</div>
</div>
