.label_Ans{
    font-size: 22px;
    font-weight: 500;
}
.label_title{
    font-size: 19px;
    font-weight: 500;
    opacity: 0.9;
}
.Gap_class{
    margin-top: 30px !important;
}
.Remarks_box1{
    height: 130px;
    border-radius: 12px;
    border: solid 1px #b2b2b2;
    background-color: #ffffff;
    margin-left: 30px;
    margin-right: 30px;
    
    margin-bottom: 30px;
}
.Remarks_style{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    width: 100%;  opacity: 0.6;  
    
}
.Input_remarks{
    height: 48px;
}

.sendIcon {
    height: 22px;
    margin-right: 45px;
    cursor: pointer !important;
    margin-top: -34px;
}
.cls_space{
    margin-bottom: 10px !important;
    margin-left: 30px;
    font-weight: 500;
    margin-top: 25px;
}
.Rectangle-55 {
    width: 240px;
    height: 60px;
    border-radius: 4px;
    background-color: #efb577;
    color: white;
  }