@import "src/@fuse/scss/fuse";

#cuspo {
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0px;
    margin: 0px;
  }
  .outer {
    border-bottom: 1px solid rgba(255, 85, 0, 0.1);
    position: relative;
    z-index: 1;
    .bg {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("assets/images/header_2.png");
      opacity: 0.1;
      background-repeat: no-repeat;
    }
    width: 100%;
    object-fit: contain;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
  }

  .topbarClass {
    background: url("/assets/images/backgrounds/header 2.png") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .test {
    background-color: red;
  }
  .cursorPointer {
    color: #0000ee;
    cursor: pointer;
  }
  // #mat-badge-content-0{
  // background-color: red;
  // }

  // >>> #mat-badge-content-0 {
  //   fill: rgba(250, 250, 250, 0.8);
  //   border-radius: 3px;
  //   background-color: red;
  // }

  .progressBarPostion {
    position: absolute !important;
    top: 350px;
    z-index: 1;
    left: 55%;
  }
  .progressBarPostion {
    position: absolute !important;
    top: 350px;
    z-index: 1;
    left: 55%;
  }
  .center {
    padding: 0px !important;
    max-width: 2000px;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
      padding: 0 !important;
    }
    #headerCard {
      position: fixed;
      height: 50px;
      box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      top: 0px;
      left: 0px;
      right: 0px;
      margin-bottom: 0px;
      z-index: 100;
    }
    .content-pos {
      margin-top: -27px !important;
    }
    .content-card1 {
      display: flex;
      flex: 1;
      position: relative;
      border-radius: 10px;

      //   .mat-sidenav-container {
      //     display: flex;
      //     flex: 1;
      //     width: 100%;

      //     > .mat-sidenav-content,
      //     > .mat-drawer-content {
      //       display: flex;
      //       flex: 1 1 auto;
      //       min-height: 100%;
      //       height: auto;
      //     }

      //     > .mat-drawer-content {
      //       max-width: 100%;
      //     }

      //     mat-sidenav {
      //       display: flex;
      //       flex-direction: column;
      //       width: 400px;
      //       max-width: 90%;
      //       box-shadow: 0 0 1px rgba(0, 0, 0, 0.37);
      //       overflow: hidden;
      //     }
      //   }
    }
  }
  .side-bar {
    display: flex;
    flex: 1;
    flex-direction: column;
    .sidenav-content {
      overflow: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
    }
  }
  .side-bar-items {
    text-decoration: none !important;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 24px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    margin-right: 7px;
  }
  @mixin TableBorderRight($color) {
    border-right: 1px solid $color;
  }

  // .mat-badge-content {
  //   color: #fff;
  //   background: green;
  // }
  .tabbackgroudcolor {
    background-color: #fef8f1;
    height: 50px;
  }
  .outer {
    border-bottom: 1px solid rgba(255, 85, 0, 0.1);
    position: relative;
    z-index: 1;
    .bg {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("assets/images/header_2.png");
      opacity: 0.1;
      background-repeat: no-repeat;
    }
    width: 100%;
    object-fit: contain;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
  }

  .PO-Lookup {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.6;
    letter-spacing: 0.64px;
    text-align: left;
    color: #3e3e3e;
  }

  .TableCommon {
    padding: 5px;
    font-size: 14px;
    min-width: 50px !important;
    white-space: nowrap;
  }

  table {
    width: 100%;

    th {
      @include TableBorderRight(gray);
      @extend .TableCommon;
      // min-width: max-content !important;
      color: white;
      background-color: #121214;
    }

    td {
      @include TableBorderRight(rgba(0, 0, 0, 0.12));
      @extend .TableCommon;
      // min-width: max-content !important;
      &.QtyClass {
        text-align: right;
      }
      .mat-form-field-underline {
        display: none;
      }
    }

    tr {
      height: 40px;
    }

    .mat-sort-header-container {
      display: flex;
      justify-content: center;
    }
  }
  .tableLeftBorder {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }
  .tableCellBorder {
    height: 20px;
    vertical-align: middle;
    width: 10px;
    background-color: #d87e39;
    opacity: 0.7;
  }
  .roundCommon {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
  }

  .round {
    @extend .roundCommon;
    background-color: white;
    border-color: gray;
  }
  .hor-timeline {
    height: 8px;
    margin-top: 5px;
    //border-radius: 4px;
  }
  .green-timeline {
    @extend .hor-timeline;
    background-color: #34ad65;
  }
  .orange-timeline {
    @extend .hor-timeline;
    background-color: #efb577;
  }
  .white-timeline {
    @extend .hor-timeline;
    background-color: white;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }
  .divider1 {
    border-left: 1px solid #25262b;
    opacity: 0.1;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .divider {
    border-left: 1px solid #25262b;
    opacity: 0.2;
    margin-right: 5%;
    margin-top: -10px;
    margin-bottom: -34px;
  }

  .tab-round1 {
    height: 50px;
    width: 50px;
    border: 2px solid;
    border-radius: 90%;
    margin-bottom: 30px !important;
    background-color: white;
    // border-color: #8ba0f9
    cursor: pointer;
  }
  .tab-round2 {
    height: 40px;
    width: 40px;
    border: 1px solid;
    border-radius: 60px;
    /* padding: 0px; */
    margin: 3px;
    // border-color: #8ba0f9;
  }
  .item-round1 {
    @extend .tab-round1;
    border-color: #8ba0f9;
    .mat-badge-content {
      background-color: #8ba0f9 !important;
    }
  }
  .item-round2 {
    @extend .tab-round2;
    border-color: #dce2fd;
  }
  .org-round1 {
    @extend .tab-round1;
    border-color: #f8d68f;
    .mat-badge-content {
      background-color: #f8d68f !important;
    }
  }
  .org-round2 {
    @extend .tab-round2;
    border-color: #fef7e9;
  }
  .grn-round1 {
    @extend .tab-round1;
    border-color: #89e075;
    .mat-badge-content {
      background-color: #89e075 !important;
    }
  }
  .grn-round2 {
    @extend .tab-round2;
    border-color: #e7f9e3;
  }


  .unSelected{
    border-color: white;
  }
  .tab-divider {
    border-left: 1px solid;
    // margin-left: 15px;
    border-color: #000000;
    opacity: 0.1;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  ::ngdeep .mat-tab-label {
    height: 150px !important;
  }
  .tab-highlight {
    border-bottom: 2px solid !important;
    border-color: #f59170 !important;
    width: 80px !important;
    margin-top: 10px;
    margin-left: -20px;
  }
  body.theme-default .mat-tab-group.mat-primary .mat-ink-bar,
  body.theme-default .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    border: 2px solid !important;
    border-color: #efb577 !important;
    visibility: visible !important;
    left: 30px !important;
    width: 100px !important;
  }
  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    border: 2px solid !important;
    border-color: #efb577 !important;
    visibility: visible !important;
    left: 30px !important;
    width: 100px !important;
  }
  .Btn1 {
    border-color: #efb577;
    background-color: #efb577;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 11%;
    margin-right: 10px;
    margin-top: 5px;
  }
  .errorClass {
    color: red !important;
  }
  body.theme-default .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }
  .mat-header {
    display: flex;
    justify-content: center !important;
  }
  .calendarImg {
    height: 15px;
    /* margin-bottom: 12px; */
    margin-left: 10px;
  }
  .SubmitBtn {
    background-color: #efb577;
    color: white;
  }
  .SaveBtn {
    background-color: white;
    color: #efb577;
  }
  .DeleteBtn {
    background-color: white;
    color: #e03b3b;
  }
  .item-image {
    margin-top: 10px !important;
    margin-left: 10px !important;
    width: 20px;
  }
  .item-image:hover {
    margin-top: 12px !important;
    margin-left: 11px !important;
    width: 15px !important;
  }
  .truck-image {
    margin-top: 12px !important;
    margin-left: 10px !important;
    width: 21px;
  }
  .truck-image:hover {
    margin-top: 14px !important;
    margin-left: 12px !important;
    width: 17px !important;
  }
  .document-image {
    margin-top: 9px !important;
    margin-left: 12px;
    width: 15px;
  }
  .document-image:hover {
    margin-top: 12px !important;
    margin-left: 14px !important;
    width: 11px !important;
  }
  .cursorPointer {
    color: #0000ee;
    cursor: pointer;
  }
  .pink-round1 {
    @extend .tab-round1;
    border-color: #edb084;
    .mat-badge-content {
      background-color: #edb084 !important;
    }
  }
  .pink-round2 {
    @extend .tab-round2;
    border-color: #e7f9e3;
  }
  

  .document-round1 {
    @extend .tab-round1;
    border-color: #f98bb5;
    .mat-badge-content {
      background-color: #f98bb5 !important;
    }
  }
  .document-round2 {
    @extend .tab-round2;
    border-color: #e7f9e3;
  }
  .cl_norec{
    font-weight: 500;
  text-align-last: center;
  }
}
