<div id="grreceipts" class="page-layout carded" fusePerfectScrollbar>
  <div class="center" fxLayout="column" fxLayoutGap="10px">
    <div class="outer" fxLayout>
      <div class="bg"></div>
      <div>
        <h3 style="margin: 0px;padding-left: 10px;"><b>Goods Receipts</b></h3>
      </div>
      <div fxFlex align="end">
        <span><img src="assets/images/logo.svg" style="height: 40px;padding: 4px 15px 2px 0px;"></span>
      </div>
    </div>

    <div *ngIf="!isExpanded" @expandCollapse class="mt-20">
      <form autocomplete="off" name="form" novalidate [formGroup]="searchFormGroup" fxFlex="100">
        <div class="ml-20 mr-20" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

          <mat-form-field appearance="outline" fxFlex="20">
            <input matInput placeholder="search by GRN Number" formControlName="GRNNo">
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="20">
            <input matInput placeholder="search by Material" formControlName="Material">
          </mat-form-field>

          <!-- <mat-form-field appearance="outline" fxFlex="20">
            <input matInput type="text" placeholder="GRN From Date" [matDatepicker]="picker"
              formControlName="GRNDatefrom" (dateChange)="fromAndToDateChanged()">
            <mat-datepicker #picker>
            </mat-datepicker>
            <img src="assets/images/calendar.png" width="15px" height="15px" (click)="picker.open()"
              class="inp_Img_date">
          </mat-form-field> -->

          <mat-form-field appearance="outline" style="width: 100%;">
            <input matInput placeholder="ASN ToDate" [matDatepicker]="picker2" formControlName="GRNDatefrom"
              (dateChange)="DateSelected()">
            <mat-datepicker-toggle matSuffix [for]="picker2">
              <mat-icon matDatepickerToggleIcon svgIcon="calendarIcon"></mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%;">
            <input matInput placeholder="ASN ToDate" [matDatepicker]="picker1" formControlName="GRNDateto"
              (dateChange)="DateSelected()">
            <mat-datepicker-toggle matSuffix [for]="picker2">
              <mat-icon matDatepickerToggleIcon svgIcon="calendarIcon"></mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <!-- <mat-form-field appearance="outline" fxFlex="20">
            <input matInput type="text" placeholder="GRN To Date" [matDatepicker]="picker1" formControlName="GRNDateto"
              (dateChange)="fromAndToDateChanged()">
            <mat-datepicker #picker1>
            </mat-datepicker>
            <img src="assets/images/calendar.png" width="15px" height="15px" (click)="picker1.open()"
              class="inp_Img_date">
          </mat-form-field> -->

          <div *ngIf="isDateError" style="color:#f44336;font-size: 12px;margin-top: 53px;
                    margin-left: -181px;">
            To date should not be less than from date
          </div>
          <div fxFlex="20" fxLayoutAlign="end">
            <button mat-raised-button class="SaveBtn" (click)="searchButtonClicked()"
              [ngClass]="BGClassName?.layout?.navbar?.primaryBackground">Search</button>
          </div>
        </div>
      </form>
    </div>

    <div class="px-20 pb-20">
      <div fxLayout="row" class="mt-20" fxLayoutAlign="start center">
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-icon class="mr-12" matPrefix>search</mat-icon>
          <input [(ngModel)]="searchText" matInput placeholder="Search" (keyup)="applyFilter($event)">
        </mat-form-field>
        <div fxFlex fxLayoutAlign="end center">
          <mat-form-field appearance="outline" style="min-width: 100px;">
            <mat-select [(ngModel)]="selectValue">
              <mat-option value="All" (click)="GetGRReceiptsReports()">All</mat-option>
              <mat-option value="All">Material</mat-option>
              <mat-option value="All">PO</mat-option>
            </mat-select>
          </mat-form-field>
          <button (click)="exportAsXLSX()" class="excelBtn mx-24" mat-stroked-button>
            <img class="excelImg" src="assets/images/excel.png">
          </button>
          <img class="expandImg" src="assets/images/expand.png" (click)="expandClicked()">
        </div>
      </div>
      <!-- <div [ngClass]="grReceiptsReportDataSource.data.length >0 ? 'visible': 'hidden'"> -->
      <div style="overflow: auto !important;">
        <table class="table" mat-table [dataSource]="grReceiptsReportDataSource" matSort>

          <ng-container matColumnDef="GRGIDoc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"
              [ngClass]="BGClassName?.layout?.toolbar?.background"> GRN </th>
            <td mat-cell *matCellDef="let element;let odd=odd" class="tableLeftBorder pl-0">
              <div fxLayout>
                <div class="tableCellBorder" [style.background-color]="odd?'#6f52ed':'#d87e39'"></div>
                <div fxFlex class="pl-8">{{element.GRGIDoc}} </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="GRIDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="BGClassName?.layout?.toolbar?.background">
              GRN Date </th>
            <td mat-cell *matCellDef="let element;">
              {{element.GRIDate | date :'dd/MM/yyyy'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="Item">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="BGClassName?.layout?.toolbar?.background">
              Item</th>
            <td mat-cell *matCellDef="let element;let i= index;" class="QtyClass">
              {{element.Item}}
            </td>
          </ng-container>

          <!-- <ng-container matColumnDef="InvoiceDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Date </th>
          <td mat-cell *matCellDef="let element">
            {{element.InvoiceDate  | date :'dd/MM/yyyy'}}
          </td>
        </ng-container> -->

          <ng-container matColumnDef="Material">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="BGClassName?.layout?.toolbar?.background">
              Material </th>
            <td mat-cell *matCellDef="let element;let i= index;" class="QtyClass">
              {{element.Material}}
            </td>
          </ng-container>

          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="BGClassName?.layout?.toolbar?.background">
              Description </th>
            <td mat-cell *matCellDef="let element;let i= index;" class="QtyClass">
              {{element.Description}}
            </td>
          </ng-container>

          <ng-container matColumnDef="GRGIQty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="BGClassName?.layout?.toolbar?.background">
              GR
              Qty </th>
            <td mat-cell *matCellDef="let element;let i= index;" class="QtyClass">
              {{element.GRGIQty}}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="grReceiptsReportDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: grReceiptsReportDisplayedColumns;">
          </tr>
        </table>
        <div flex fxLayoutAlign="center center" class="TableFooter" style="margin-top: 20px;"
          *ngIf="!grReceiptsReports?.length">
          <mat-icon svgIcon="infoIcon" style="color: #1b56ca;">
          </mat-icon>
          <span style="margin-left: 10px;">The table does not contain any records</span>
        </div>
      </div>
      <div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      </div>
    </div>

    <mat-progress-spinner *ngIf="isProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="isProgressBarVisibile"></div>
  </div>
</div>