table th {
    color: white;
    background-color: #343436;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
}
table {
    width: 100%;
    /* border-collapse: collapse; */
    border: solid 1px #25262b;
    margin-top: 20px;
}
th.mat-header-cell {
    padding: 0px;
    text-align: center;
    /* // border-bottom-width: 1px; */
   
    border-bottom-style: solid;
}
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    padding: 0;
    text-align: center;
    /* // border-bottom-width: 1px; */
    border-bottom-style: solid;
}
.table-responsive {
    margin-left: 15px;
    margin-right: 20px;
}


.Rectangle-816 {
    width: 265px;
    height: 30px;
    border-radius: 4px;
    border: solid 2px #cbcbcb;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .submit_class{
    width: 130px;
    height: 40px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: #efb577 !important;
    color: white !important;

  }
  .label_clas{
      color: #292929;
      opacity: 0.5;
      font-size: 12px;
    margin-left: 10px;
    font-weight: 600;
  }
  .tableCellBorder {
    height: 20px;
    vertical-align: middle;
    width: 10px;
    background-color: #d87e39;
    opacity: 0.7;
    
  }