<div id="improvement" class="page-layout carded fullwidth" fusePerfectScrollbar>
  <div class="center">
    <div class="outer" fxLayout>
      <div class="bg"></div>
      <div>
        <h3 style="margin: 0px;padding-left: 10px;"><b>Welcome <span style="color: #d87060;">{{currentDisplayName}}</span></b></h3>
      </div>
      <div fxFlex align="end">
        <span><img src="assets/images/logo.svg" style="height: 40px;padding: 4px 15px 2px 0px;"></span>
      </div>
    </div>

    <div class="content-card1" fxLayout="column" fxLayoutGap="50px">
      <div fxFlex="50" class="cardBackground">
        <div fxLayout="column" class="pb-32" fxLayoutGap="15px">
          <img src="assets/images/executives.png">
          <div>
            <h1 class="primaryColor">
              How to improve performance of your Sales Managers
            </h1>
          </div>
          <div fxLayout="row" fxLayoutGap="15px">
            <div fxFlex="33">
              <img class="image" src="assets/images/user-alt.svg">
              <span class="p-4 font-weight-100">by Ronald Chen</span>
            </div>
            <div fxFlex="33">
              <img class="image" style="height: 25px !important;width: 25px !important;" src="assets/images/calendarwithclock.svg">
              <span class="p-4 font-weight-100">Feb 27, 2020 at 5:47 pm</span>
            </div>
            <div fxFlex="33">
              <img class="image" src="assets/images/tag.svg">
              <span class="p-4 font-weight-100">Business</span>
            </div>
          </div>
          <div class="mt-10 mb-10">
            Sales executives with even moderately large,distributed sales forces rely on date to help them understand which
            activities and behaviours lead to the best outcomes.Yet much of the data from sources such as CRM reporting tools and time studies is
            self-reported, and thus inherently flawed.That leaves executives inthe dark about what is actually occuring on the front lines
          </div>
          <div fxLayout="row" fxLayoutGap="5px" style="align-items: center;">
            <div fxFlex="80">
              <button mat-button class="primaryButton">CONTINUE READING</button>
            </div>
            <div fxFlex="10">
              <mat-icon style="vertical-align: middle;">visibility</mat-icon>
              <span class="p-4 font-weight-100">193</span>
            </div>
            <div fxFlex="10">
              <mat-icon style="vertical-align: middle;">chat_bubble</mat-icon>
              <span class="p-4 font-weight-100">3</span>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="50" class="cardBackground">
        <div fxLayout="column" class="pb-32" fxLayoutGap="15px">
          <img src="assets/images/improvement1.png">
          <div>
            <h1 class="primaryColor">
              7 Ways to Inspire Your Employees
            </h1>
          </div>
          <div fxLayout="row" fxLayoutGap="15px">
            <div fxFlex="33">
              <img class="image" src="assets/images/user-alt.svg">
              <span class="p-4 font-weight-100">by Ronald Chen</span>
            </div>
            <div fxFlex="33">
              <img class="image" style="height: 25px !important;width: 25px !important;" src="assets/images/calendarwithclock.svg">
              <span class="p-4 font-weight-100">Feb 27, 2020 at 5:47 pm</span>
            </div>
            <div fxFlex="33">
              <img class="image" src="assets/images/tag.svg">
              <span class="p-4 font-weight-100">Business</span>
            </div>
          </div>
          <div class="mt-10 mb-10">
            Sales executives with even moderately large,distributed sales forces rely on date to help them understand which
            activities and behaviours lead to the best outcomes.Yet much of the data from sources such as CRM reporting tools and time studies is
            self-reported, and thus inherently flawed.That leaves executives inthe dark about what is actually occuring on the front lines
          </div>
          <div fxLayout="row" fxLayoutGap="5px" style="align-items: center;">
            <div fxFlex="80">
              <button mat-button class="primaryButton">CONTINUE READING</button>
            </div>
            <div fxFlex="10">
              <mat-icon style="vertical-align: middle;">visibility</mat-icon>
              <span class="p-4 font-weight-100">193</span>
            </div>
            <div fxFlex="10">
              <mat-icon style="vertical-align: middle;">chat_bubble</mat-icon>
              <span class="p-4 font-weight-100">3</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>