<div id="reset-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="reset-password-intro" fxFlex fxHide fxShow.gt-xs>

        <!-- <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="/assets/images/logos/ExalcaLogoWhite.png">
        </div>

        <div class="title" [ngStyle]="{'color':'white'}" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Welcome to the Exalca Technologies Pvt. Ltd.
        </div>

        <div class="description" [ngStyle]="{'color':'white'}" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Exalting You
        </div> -->
        <article class="description" [ngStyle]="{'color':'white'}">
            <h2 class="h1 col-md-offset-2 " style="font-family: Roboto;">Enabling you with
                <span class="ScrollingText">
                    <span>{{currentText}}</span>
                    <span class="cursor"></span>
                </span>
            </h2>
            <!--<a href="#" class="button col-md-offset-2"><span>Supplier</span></a>
            <a href="#" class="button col-md-offset-2"><span>Dealer</span></a>
            <a href="#" class="button col-md-offset-2"><span>Transporter</span></a> -->

        </article>

    </div>

    <div id="reset-password-form-wrapper" [style.background-color]="'white'" fusePerfectScrollbar
        [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">
        <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top:20px">
            <div>
              <span>
                <img src="assets/images/exalca.PNG" class="ExalcaLogo">
              </span>
            </div>
            <div  style="margin-bottom: -34px;">
              <span><img src="assets/images/logo.svg" style="height: 60px;padding: 4px 15px 2px 0px;"></span>
            </div>
          </div>
        <div id="reset-password-form">

            <!-- <div class="logo" fxHide.gt-xs>
                <img src="/assets/images/logos/ExalcaLogoWhite.png">
            </div> -->

            <div class="title">Reset Password</div>
            <div class="border"></div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

                <!-- <mat-form-field>
                  <input type="password" matInput placeholder="Current Password" formControlName="currentPassword">
                  <mat-error *ngIf="resetPasswordForm.get('currentPassword').hasError('required')">
                    Current Password is required
                  </mat-error>
              </mat-form-field> -->

                <mat-form-field [class.mb-32]="!resetPasswordForm.get('newPassword').hasError('required') &&
                resetPasswordForm.get('newPassword').hasError('pattern')">
                    <input matInput type="password" placeholder="New Password" formControlName="newPassword">
                    <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('required')">
                        New password is required
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('newPassword').hasError('required') &&
                                       resetPasswordForm.get('newPassword').hasError('pattern')">
                        Passwords must have minimum One Uppercase letter,one lower case letter,one digit,one special
                        character and minimum length of 10 and don't start with digit
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
                    <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('confirmPassword').hasError('required') &&
                                     resetPasswordForm.get('confirmPassword').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" aria-label="RESET MY PASSWORD"
                    (click)="ChangePasswordClick()">
                    RESET MY PASSWORD
                </button>
            </form>
            <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion" color="accent"
                mode="indeterminate"></mat-progress-spinner>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/auth/login'">Go back to login</a>
            </div>

        </div>
    </div>
</div>