@import "src/@fuse/scss/fuse";

#supsupportchat {
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0px;
    margin: 0px;
  }
  .outer {
    border-bottom: 1px solid rgba(255, 85, 0, 0.1);
    position: relative;
    z-index: 1;
    .bg {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("assets/images/header_2.png");
      opacity: 0.1;
      background-repeat: no-repeat;
    }
    width: 100%;
    object-fit: contain;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
  }

  .topbarClass {
    background: url("/assets/images/backgrounds/header 2.png") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .progressBarPostion {
    position: absolute !important;
    top: 350px;
    z-index: 1;
    left: 55%;
  }
  .center {
    padding: 0px !important;
    max-width: 2000px;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
      padding: 0 !important;
    }
    #headerCard {
      position: fixed;
      height: 50px;
      box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      top: 0px;
      left: 0px;
      right: 0px;
      margin-bottom: 0px;
      z-index: 100;
    }
    .content-pos {
      margin-top: -27px !important;
    }
    .content-card1 {
      display: flex;
      flex: 1;
      position: relative;
      border-radius: 10px;

      //   .mat-sidenav-container {
      //     display: flex;
      //     flex: 1;
      //     width: 100%;

      //     > .mat-sidenav-content,
      //     > .mat-drawer-content {
      //       display: flex;
      //       flex: 1 1 auto;
      //       min-height: 100%;
      //       height: auto;
      //     }

      //     > .mat-drawer-content {
      //       max-width: 100%;
      //     }

      //     mat-sidenav {
      //       display: flex;
      //       flex-direction: column;
      //       width: 400px;
      //       max-width: 90%;
      //       box-shadow: 0 0 1px rgba(0, 0, 0, 0.37);
      //       overflow: hidden;
      //     }
      //   }
    }
  }

  .side-bar {
    display: flex;
    flex: 1;
    flex-direction: column;
    .sidenav-content {
      overflow: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
    }
  }
  .side-bar-items {
    text-decoration: none !important;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 24px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    margin-right: 7px;
  }

  // @mixin TableBorderRight($color) {
  //   border-right: 1px solid $color;
  // }

  // .TablePadFont {
  //   padding: 5px;
  //   font-size: 12px;
  //   min-width: 100px !important;
  // }

  // table {
  //   width: 100%;

  //   th {
  //     @include TableBorderRight(gray);
  //     @extend .TablePadFont;
  //     color: white;
  //     background-color: #121214;
  //   }

  //   td {
  //     @include TableBorderRight(rgba(0, 0, 0, 0.12));
  //     @extend .TablePadFont;
  //     font-size: 12px;
  //     max-width: 25px !important;
  //     text-align: center;
  //     color: black;
  //     min-width: max-content !important;
  //   }

  //   tr {
  //     height: 40px;
  //   }

  //   .mat-sort-header-container {
  //     display: flex;
  //     justify-content: center;
  //   }
  // }

  // .tableLeftBorder {
  //   border-left: 1px solid rgba(0, 0, 0, 0.12);
  // }

  // .tableCellBorder {
  //   height: 20px;
  //   vertical-align: middle;
  //   width: 10px;
  //   background-color: #d87e39;
  //   opacity: 0.7;
  // }

  @mixin TableBorderRight($color) {
    border-right: 1px solid $color;
  }
  .TablePadFont {
    padding: 5px;
    font-size: 12px;
    min-width: 100px !important;
  }
  .TableCommon {
    padding: 5px;
    font-size: 14px;
    min-width: 50px !important;
    white-space: nowrap;
  }
  table {
    width: 100%;

    th {
      @include TableBorderRight(gray);
      @extend .TableCommon;
      // min-width: max-content !important;
      color: white;
      background-color: #121214;
    }

    td {
      @include TableBorderRight(rgba(0, 0, 0, 0.12));
      @extend .TableCommon;
      // min-width: max-content !important;
      &.QtyClass {
        text-align: right;
      }
      .mat-form-field-underline {
        display: none;
      }
    }

    tr {
      height: 40px;
    }

    .mat-sort-header-container {
      display: flex;
      // justify-content: center;
    }
  }
  .abnormal {
    .mat-form-field-flex > .mat-form-field-infix {
      padding: 0.3em 0px !important;
    }
    .mat-form-field-label-wrapper {
      top: -1.5em;
    }
    .mat-form-field-wrapper {
      margin: 0 !important;
      padding-bottom: 4px !important;
      padding-top: 4px !important;
    }
    .mat-form-field-appearance-outline .mat-form-field-flex {
      padding: 0 0.4em 0 0.4em;
    }
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.1em) scale(0.75);
      width: 133.33333%;
    }
    // .mat-form-field-outline-start,
    // .mat-form-field-outline-end {
    //   border-radius: 0 !important;
    // }
  }
  .tableLeftBorder {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }
  .tableCellBorder {
    height: 20px;
    vertical-align: middle;
    width: 10px;
    background-color: #d87e39;
    opacity: 0.7;
  }

  .Btn1 {
    border-color: #efb577;
    background-color: #efb577;
    color: white;
    position: fixed !important;
    bottom: 50px !important;
  }

  .boldClass {
    // font-weight: bold;
    font-size: 16px !important;
  }

  .Rectangle-721 {
    // height: 115px;
    // border-radius: 7px;
    border: solid 2px #e0e0e0;
    background-color: #ffffff;
    border-left: solid 8px #3380d7;
  }

  .side-bar {
    display: flex;
    flex: 1;
    flex-direction: column;
    .sidenav-content {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  .borderRightClass {
    border-right: 1px solid #dce1e9;
    margin-top: -10% !important;
  }

  .timeline-content {
    background-color: #dcdcdc !important;
    // border: 1px solid #dcdcdc;
    // border-radius: 5px;
    // border:1px solid gray;
    input {
      background-color: #dcdcdc;
    }
  }

  .arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #dcdcdc !important;
  }

  .ProgressBarPostion1 {
    position: absolute !important;
    top: 350px;
    z-index: 1;
    left: 55%;
  }
  // input[disabled]{
  //   color: #808080 !important;
  // }
  ::ng-deep .mat-select-disabled {
    .mat-select-value {
      color: #808080 !important;
    }
  }

  ::ng-deep .mat-input-element:disabled {
    color: #808080 !important;
  }

  .addIcon {
    height: 20px;
    margin-top: 16px;
    padding-left: 4px;
    cursor: pointer !important;
  }

  .textAreaIcon {
    @extend .addIcon;
    height: 18px;
    margin-top: 4px;
    padding-right: 2px;
  }
  .attachmentIcon {
    @extend .addIcon;
    height: 12px;
    margin-top: 4px;
    padding-right: 2px;
  }

  .roundCommon {
    height: 20px;
    width: 20px;
    border-radius: 20px;
  }

  .round {
    @extend .roundCommon;
    border: 2px solid gray;
    cursor: pointer !important;
  }

  .round1 {
    @extend .roundCommon;
    background-color: #2ecc71;
    border: 2px solid #2ecc71;
  }

  .vertical-line {
    width: 2px;
    min-height: 152px;
    border: 1px solid gray;
    background: gray;
    margin: 5px auto 0px auto;
  }

  .green-timeline {
    @extend .vertical-line;
    border-color: #4fab6d;
  }

  .orange-timeline {
    @extend .vertical-line;
    border-color: #efb577;
  }

  .red-timeline {
    @extend .vertical-line;
    border-color: #ef8377;
  }

  // .roundCommon {
  //   height: 20px;
  //   width: 20px;
  //   border-radius: 20px;
  //   border-width: 3px;
  //   border-style: solid;
  // }

  // .round {
  //   @extend .roundCommon;
  //   background-color: white;
  //   border-color: gray;
  // }
  // .vertical-line {
  //   height: 50px;
  //   width: 10px;
  //   margin-left: -15px;
  //   margin-top: 19px;
  // }
  // .hor-timeline {
  //   height: 8px;
  //   margin-top: 5px;
  //   //border-radius: 4px;
  // }
  // .green-timeline {
  //   // @extend .hor-timeline;
  //   @extend .vertical-line;
  //   background-color: #4FAB6D;
  // }

  // .orange-timeline {
  //   // @extend .hor-timeline;
  //   @extend .vertical-line;
  //   background-color: #efb577;
  // }
  // .white-timeline {
  //   // @extend .hor-timeline;
  //   @extend .vertical-line;
  //   background-color: white;
  //   border-left: 2px solid rgba(0, 0, 0, 0.2);
  //   border-right: 2px solid rgba(0, 0, 0, 0.2);
  // }

  .left-open-container {
    // border-radius: 4px;
    border: 1px solid;
  }
  .comment-container-arrow {
    position: relative;
    // border-radius: 4px;
    border: solid 1px #b2b2b2;
    background-color: #ffffff;
    padding: 5px;
    box-sizing: border-box;
  }
  .comment-container-arrow:after {
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 0px solid #b2b2b2;
    border-right: 0px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
    border-left: 1px solid #b2b2b2;
    top: 50%;
    margin-left: -16px;
    content: "";
    transform: rotate(45deg);
    margin-top: -22px;
    background: #ffffff;
  }
  .mark-as-resolved {
    background-color: white;
    color: #4fab6d;
  }
  .mat-stroked-button {
    padding: 0px 10px;
    line-height: 24px;
  }
  .float-add-button {
    position: fixed;
    bottom: 80px !important;
  }
  .pdfLinkClass {
    color: #1e8bed;
    cursor: pointer;
  }
  .left-status-container {
    text-align: center;
    text-orientation: upright;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    color: white;
    font-size: 8px;
    font-weight: 700;
    padding-right: 4px;
    width: 20px;
    height: 88px;
    min-height: 88px;
  }
  .unLockImg {
    height: 28px;
    margin-left: 4px;
  }
}
