@import "src/@fuse/scss/fuse";

#supsupportticket {

  .progressBarPostion {
    position: absolute !important;
    top: 350px;
    z-index: 1;
    left: 55%;
  }
  .center {
    // padding: 20px !important;
    background-color: white;
    height: 100% !important;
  }
  @mixin TableBorderRight($color) {
    border-right: 1px solid $color;
  }
  
  .outer {
    border-bottom: 1px solid rgba(255, 85, 0, 0.1);
    position: relative;
    z-index: 1;
    .bg {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("../../../../assets/images/header_2.png");
      opacity: 0.1;
      background-repeat: no-repeat;
    }
    width: 100%;
    object-fit: contain;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
  }

  .TablePadFont {
    padding: 5px;
    font-size: 12px;
    min-width: 100px !important;
  }

  table {
    width: 100%;

    th {
      @include TableBorderRight(gray);
      @extend .TablePadFont;
      color: white;
      background-color: #121214;
    }

    td {
      @include TableBorderRight(rgba(0, 0, 0, 0.12));
      @extend .TablePadFont;
      font-size: 12px;
      max-width: 25px !important;
      text-align: center;
      color: black;
      min-width: max-content !important;
    }

    tr {
      height: 40px;
    }

    .mat-sort-header-container {
      display: flex;
      justify-content: center;
    }
  }
  .tableLeftBorder {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }
  .tableCellBorder {
    height: 20px;
    vertical-align: middle;
    width: 10px;
    background-color: #d87e39;
    opacity: 0.7;
  }
  .Btn1 {
    border-color: #efb577;
    background-color: #efb577;
    color: white;
    position: fixed !important;
    bottom: 50px !important;
  }
  .addIcon {
    height: 20px;
    margin-top: 16px;
    padding-left: 4px;
    cursor: pointer !important;
  }
  .addAttachmentClass {
    margin-top: 25px;
    color: #4784f7;
    cursor: pointer !important;
  }
  .addBlueIcon {
    @extend .addIcon;
    margin-top: 0px;
    height: 15px;
  }
    .textAreaIcon {
    @extend .addIcon;
    margin-top: 0px;
    height: 20px;
  }
  .attachClass {
    // margin-top: 25px;
    padding-left: 8px;
    cursor: pointer !important;
    color: #4784f7;
  }
  .pdfLinkClass {
    color: #1e8bed;
    cursor: pointer;
  }
  .SaveBtn {
    background-color: #efb577;
    color: white;
  }
}