<div id="CAPA-Dashboard" class="page-layout carded" fusePerfectScrollbar>
  <div class="center" fxLayout="column" fxLayoutGap="10px">
    <div class="outer" fxLayout>
      <div class="bg"></div>
      <div>
        <h3 style="margin: 0px;padding-left: 10px;"><b>Dashboard</b></h3>
      </div>
      <div fxFlex align="end">
        <span><img src="assets/images/logo.svg" style="height: 40px;padding: 4px 15px 2px 0px;"></span>
      </div>
    </div>
  </div>
  <div class="Content" style="margin: 20px;">
    <div class="HeaderCards" fxLayout="row" fxLayoutAlign="space-between center">

      <mat-card class="example-card" fxFlex="18" (click)="DueToRealseCard(1)">
        <mat-card-content fxLayout="column">
          <div fxLayoutGap="20px" style="padding: 25px !important;" fxLayoutAlign="start center">
            <!-- <img src="assets/images/pending.png" style="height: 30px;width: 30px;"> -->
            <mat-icon class="Dashboardicons">priority_high</mat-icon>

            <span class="HeaderCardCount">{{DueToRealseList.length}}</span>
          </div>
          <div class="FooterCard">
            <p style="margin-left: 10px;">Due To Realse</p>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card" fxFlex="18" (click)="Request(2)">
        <mat-card-content fxLayout="column">
          <div fxLayoutGap="20px" style="padding: 25px !important;">
            <img src="assets/images/pending.png" style="height: 30px;width: 30px;">
            <span class="HeaderCardCount">{{RequestList.length}}</span>
          </div>
          <div class="FooterCard">
            <p style="margin-left: 10px;">Request</p>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card" fxFlex="18" >
        <mat-card-content fxLayout="column">
          <div fxLayoutGap="20px" style="padding: 25px !important;" fxLayoutAlign="start center">
            <!-- <img src="assets/images/pending.png" style="height: 30px;width: 30px;"> -->
            <mat-icon class="Dashboardicons">report_off</mat-icon>
            <span class="HeaderCardCount">
              <span (click)="AcceptCard(3)">{{AcceptList.length}}</span> / <span (click)="RejectCard(3)">{{RejectList.length}}</span>
            </span>
          </div>
          <div class="FooterCard">
            <p style="margin-left: 10px;"><span (click)="AcceptCard(3)">Accept</span> / <span (click)="RejectCard(3)">Reject</span></p>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card" fxFlex="18" >
        <mat-card-content fxLayout="column">
          <div fxLayoutGap="20px" style="padding: 25px !important;" fxLayoutAlign="start center" >
            <!-- <img src="assets/images/pending.png" style="height: 30px;width: 30px;"> -->
            <mat-icon class="Dashboardicons">done_all</mat-icon>
            <span class="HeaderCardCount"><span (click)="ResolvedCard(4)">{{ResolvedList.length}}</span> / <span (click)="DifferedCard(4)">{{DifferedList.length}}</span></span>
          </div>
          <div class="FooterCard">
            <p style="margin-left: 10px;"><span (click)="ResolvedCard(4)">Resolved</span> / <span (click)="DifferedCard(4)">Differed</span></p>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card" fxFlex="18" (click)="CAPAClosedCard(5)">
        <mat-card-content fxLayout="column">
          <div fxLayoutGap="20px" style="padding: 25px !important;" fxLayoutAlign="start center">
            <mat-icon class="Dashboardicons">report_off</mat-icon>

            <span class="HeaderCardCount">{{CAPACloseList.length}}</span>
          </div>
          <div class="FooterCard">
            <p style="margin-left: 10px;">CAPA Closed</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div style="margin-top: 20px !important;">
      <span class="Cl_TableName">{{TableName}}</span><br>
      <div *ngIf="SelectedCard ==2" style="overflow: auto !important;">
        <table class="table mt-20" mat-table [dataSource]="DashboardTableDataSource" matSort>

          <ng-container matColumnDef="HeaderText">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="BGClassName?.layout?.toolbar?.background">
              Header Text </th>
            <td mat-cell *matCellDef="let element;let odd=odd" class="tableLeftBorder pl-0">
              <div fxLayout>
                <div class="tableCellBorder" [style.background-color]="odd?'#6f52ed':'#d87e39'"></div>
                <div fxFlex class="pl-12">{{element.HeaderText}} </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="ItemText">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="BGClassName?.layout?.toolbar?.background">
              Item Text
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.ItemText}} </td>
          </ng-container>

          <ng-container matColumnDef="ItemDueDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="BGClassName?.layout?.toolbar?.background">
              Item DueDate </th>
            <td mat-cell *matCellDef="let element">
              {{element.ItemDueDate | date:'dd/MM/yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="Priority">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="BGClassName?.layout?.toolbar?.background">
              Priority </th>
            <td mat-cell *matCellDef="let element">
              {{element.Priority}} </td>
          </ng-container>
          <ng-container matColumnDef="Impact">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="BGClassName?.layout?.toolbar?.background">
              Impact </th>
            <td mat-cell *matCellDef="let element">
              {{element.Impact}} </td>
          </ng-container>
          <ng-container matColumnDef="Patners">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="BGClassName?.layout?.toolbar?.background">
              Patners </th>
            <td mat-cell *matCellDef="let element" (click)="ViewVendors(element.Patners)" style="cursor: pointer !important;text-align: center;">
              <div style="margin-top: 7px; margin-left: 4px;">
                <span [matBadge]="element.Patners.length" matBadgeSize="medium" matBadgeColor="accent"
                  matBadgeOverlap="false"></span>
              </div>
              <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
              </td>
          </ng-container>
          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="BGClassName?.layout?.toolbar?.background" >
              Item Status </th>
            <td mat-cell *matCellDef="let element" (click)="RowSelected(element)" style="cursor: pointer !important;">
              <a>{{element.ItemStatus}}</a> </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="DashboardtableColumn;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: DashboardtableColumn;let even=even"
            style="cursor: pointer !important;">
          </tr>
        </table>
        <div flex fxLayoutAlign="center center" class="TableFooter" style="margin-top: 20px;"
          *ngIf="!DashboardTableDataSource.data?.length">
          <mat-icon svgIcon="infoIcon" style="color: #1b56ca;">
          </mat-icon>
          <span style="margin-left: 10px;">The table does not contain any records</span>
        </div>
      </div>

      <div *ngIf="SelectedCard ===3" style="overflow-x: auto !important; overflow-y: hidden;" fxLayout="column" >
        <table class="table mt-20" mat-table [dataSource]="DashboardAccpetTableDataSource" matSort fxFlex>
          <ng-container matColumnDef="HeaderText">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
              [ngClass]="BGClassName?.layout?.toolbar?.background">
              Header Text </th>
            <td mat-cell *matCellDef="let element;let odd=odd" class="tableLeftBorder pl-0">
              <div fxLayout>
                <div class="tableCellBorder" [style.background-color]="odd?'#6f52ed':'#d87e39'"></div>
                <div fxFlex class="pl-12">{{element.HeaderText}} </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="ItemText">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
              [ngClass]="BGClassName?.layout?.toolbar?.background">
              Item Text
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.ItemText}} </td>
          </ng-container>

          <ng-container matColumnDef="ItemDueDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
              [ngClass]="BGClassName?.layout?.toolbar?.background">
              Item DueDate </th>
            <td mat-cell *matCellDef="let element">
              {{element.ItemDueDate | date:'dd/MM/yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="ResponseText">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
              [ngClass]="BGClassName?.layout?.toolbar?.background">
              Response Text </th>
            <td mat-cell *matCellDef="let element">
              {{element.ResponseText}} </td>
          </ng-container>
          <ng-container matColumnDef="ResponseDueDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
              [ngClass]="BGClassName?.layout?.toolbar?.background">
              Response DueDate </th>
            <td mat-cell *matCellDef="let element">
              {{element.ResponseDueDate | date:'dd/MM/yyyy'}} </td>
          </ng-container>
          <ng-container matColumnDef="Patners">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
              [ngClass]="BGClassName?.layout?.toolbar?.background">
              Patners </th>
            <td mat-cell *matCellDef="let element">
              {{element.Patners}} </td>
          </ng-container>
          <ng-container matColumnDef="ResponseItemStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
              [ngClass]="BGClassName?.layout?.toolbar?.background">
              Response Status </th>
            <td mat-cell *matCellDef="let element">
              <p style="color: #039be5 !important;">{{element.ResponseItemStatus}}</p> </td>
          </ng-container>
          <ng-container matColumnDef="Attachments">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
              [ngClass]="BGClassName?.layout?.toolbar?.background">
              Attachments </th>
            <td mat-cell *matCellDef="let element" (click)="ViewAttachment(element)"
              style="cursor: pointer !important;text-align: center;">
              <div style="margin-top: 3px; margin-left: 15px;">
                <span [matBadge]="element.AttachmentID > 0 ? 1 : 0" matBadgeSize="medium" matBadgeColor="accent"
                  matBadgeOverlap="false"></span>
              </div>
              <img style="height: 24px" src="assets/images/attachment.png">
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="DashboardAccpetDifferedTableColumn;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: DashboardAccpetDifferedTableColumn;let even=even">
          </tr>
        </table>
        <div flex fxLayoutAlign="center center" class="TableFooter" style="margin-top: 20px;"
          *ngIf="!DashboardAccpetTableDataSource.data?.length">
          <mat-icon svgIcon="infoIcon" style="color: #1b56ca;">
          </mat-icon>
          <span style="margin-left: 10px;">The table does not contain any records</span>
        </div>
      </div>

      <div *ngIf="SelectedCard == 4" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px" *ngIf="SelectedCard != 3">
          <button mat-flat-button color="primary" (click)="AcceptResItems()">Accept</button>
          <button mat-flat-button color="accent" (click)="RejectResItems()">Reject</button>
        </div>
        <div style="overflow-x: auto !important; overflow-y: hidden;" fxLayout="column">
          <table class="table mt-20" mat-table [dataSource]="DashboardAccpetTableDataSource" matSort fxFlex>
            <ng-container matColumnDef="Select">
              <th mat-header-cell *matHeaderCellDef style="text-align: center !important;"
                [ngClass]="BGClassName?.layout?.toolbar?.background" class="TableSelectHeader">
                <mat-checkbox class="HeaderCheckBox" (change)="SelectAllTableRow()" [checked]="SelectAllCheckBox"></mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let element" style="text-align: center !important;">
                <mat-checkbox (change)="SelectTableRow(element)"
                  [checked]="SelectedResItem.indexOf(element) !== -1 ? true : false">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="HeaderText">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                [ngClass]="BGClassName?.layout?.toolbar?.background">
                Header Text </th>
              <td mat-cell *matCellDef="let element;let odd=odd" class="tableLeftBorder pl-0">
                <div fxLayout>
                  <!-- <div class="tableCellBorder" [style.background-color]="odd?'#6f52ed':'#d87e39'"></div> -->
                  <div fxFlex class="pl-12">{{element.HeaderText}} </div>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="ItemText">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                [ngClass]="BGClassName?.layout?.toolbar?.background">
                Item Text
              </th>
              <td mat-cell *matCellDef="let element">
                {{element.ItemText}} </td>
            </ng-container>

            <ng-container matColumnDef="ItemDueDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                [ngClass]="BGClassName?.layout?.toolbar?.background">
                Item DueDate </th>
              <td mat-cell *matCellDef="let element">
                {{element.ItemDueDate | date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="ResponseText">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                [ngClass]="BGClassName?.layout?.toolbar?.background">
                Response Text </th>
              <td mat-cell *matCellDef="let element">
                {{element.ResponseText}} </td>
            </ng-container>
            <ng-container matColumnDef="ResponseDueDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                [ngClass]="BGClassName?.layout?.toolbar?.background">
                Response DueDate </th>
              <td mat-cell *matCellDef="let element">
                {{element.ResponseDueDate | date:'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="Patners">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                [ngClass]="BGClassName?.layout?.toolbar?.background">
                Patners </th>
              <td mat-cell *matCellDef="let element">
                {{element.Patners}} </td>
            </ng-container>
            <ng-container matColumnDef="ResponseItemStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                [ngClass]="BGClassName?.layout?.toolbar?.background">
                Response Status </th>
              <td mat-cell *matCellDef="let element">
                <p style="color: #039be5 !important;">{{element.ResponseItemStatus}} </p></td>
            </ng-container>
            <ng-container matColumnDef="Attachments">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                [ngClass]="BGClassName?.layout?.toolbar?.background">
                Attachments </th>
              <td mat-cell *matCellDef="let element" (click)="ViewAttachment(element)"
                style="cursor: pointer !important;text-align: center;">
                <div style="margin-top: 3px; margin-left: 15px;">
                  <span [matBadge]="element.AttachmentID > 0 ? 1 : 0" matBadgeSize="medium" matBadgeColor="accent"
                    matBadgeOverlap="false"></span>
                </div>
                <img style="height: 24px" src="assets/images/attachment.png">
              </td>
            </ng-container>
            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                [ngClass]="BGClassName?.layout?.toolbar?.background">
                Action </th>
              <td mat-cell *matCellDef="let element" style="text-align: center !important;">
                <mat-form-field style="min-width: 100px;" appearance="outline" class="TableSelect" *ngIf="SelectedCard != 3">
                  <mat-label>Actions</mat-label>
                  <mat-select>
                    <mat-option value="Accept" (click)="SelectTableRow(element,'Accept')"> Accept</mat-option>
                    <mat-option value="Reject" (click)="SelectTableRow(element,'Reject')">Reject</mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- <button mat-flat-button color="accent" (click)="AcceptTableRowSelected(element)">View</button> -->
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="DashboardAccpetTableColumn;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: DashboardAccpetTableColumn;let even=even">
            </tr>
          </table>
          <div flex fxLayoutAlign="center center" class="TableFooter" style="margin-top: 20px;"
            *ngIf="!DashboardAccpetTableDataSource.data?.length">
            <mat-icon svgIcon="infoIcon" style="color: #1b56ca;">
            </mat-icon>
            <span style="margin-left: 10px;">The table does not contain any records</span>
          </div>
        </div>
      </div>

      <div *ngIf="SelectedCard == 5 || SelectedCard == 1" >
        <table class="table mt-20" mat-table [dataSource]="DashboardCAPAClosedDataSource" matSort>
          <ng-container matColumnDef="ReqID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="BGClassName?.layout?.toolbar?.background">
              Req ID </th>
            <td mat-cell *matCellDef="let element;let odd=odd" class="tableLeftBorder pl-0">
              <div fxLayout>
                <div class="tableCellBorder" [style.background-color]="odd?'#6f52ed':'#d87e39'"></div>
                <div fxFlex class="pl-12">{{element.ReqID}} </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="Text">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="BGClassName?.layout?.toolbar?.background">
              Text
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.HeaderText}} </td>
          </ng-container>

          <ng-container matColumnDef="DueDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="BGClassName?.layout?.toolbar?.background">
              Due Date </th>
            <td mat-cell *matCellDef="let element">
              {{element.HeaderDueDate | date:'dd/MM/yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="BGClassName?.layout?.toolbar?.background">
              Status </th>
            <td mat-cell *matCellDef="let element" (click)="RowSelected(element)" style="cursor: pointer !important;">
              <a>{{element.HeaderStatus}} </a></td>
          </ng-container>

          <!-- <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="BGClassName?.layout?.toolbar?.background">
              Action </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">
              <button mat-flat-button color="accent" (click)="Response(element)">Response</button>
            </td>
          </ng-container> -->


          <tr mat-header-row *matHeaderRowDef="CAPADashboardtableColumn;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: CAPADashboardtableColumn;let even=even">
          </tr>
        </table>
        <div flex fxLayoutAlign="center center" class="TableFooter" style="margin-top: 20px;"
          *ngIf="!DashboardCAPAClosedDataSource.data?.length">
          <mat-icon svgIcon="infoIcon" style="color: #1b56ca;">
          </mat-icon>
          <span style="margin-left: 10px;">The table does not contain any records</span>
        </div>
        
      </div>
      <div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      </div>
    </div>
    <mat-progress-spinner *ngIf="isProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="isProgressBarVisibile"></div>
  </div>
</div>