@import "src/@fuse/scss/fuse";
#supasnlist {
  background-color: white;
  .outer {
    border-bottom: 1px solid rgba(255, 85, 0, 0.1);
    position: relative;
    z-index: 1;
    .bg {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("assets/images/header_2.png");
      opacity: 0.1;
      background-repeat: no-repeat;
    }
    width: 100%;
    object-fit: contain;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
  }
  .topbarClass {
    background: url("/assets/images/backgrounds/header 2.png") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .progressBarPostion {
    position: absolute !important;
    top: 350px;
    z-index: 1;
    left: 55%;
  }
  .center {
    padding: 0px !important;
    max-width: 2000px;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
      padding: 0 !important;
    }
    #headerCard {
      position: fixed;
      height: 50px;
      box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      top: 0px;
      left: 0px;
      right: 0px;
      margin-bottom: 0px;
      z-index: 100;
    }
    .content-pos {
      margin-top: -27px !important;
    }
    .content-card1 {
      display: flex;
      flex: 1;
      position: relative;
      border-radius: 10px;

      //   .mat-sidenav-container {
      //     display: flex;
      //     flex: 1;
      //     width: 100%;

      //     > .mat-sidenav-content,
      //     > .mat-drawer-content {
      //       display: flex;
      //       flex: 1 1 auto;
      //       min-height: 100%;
      //       height: auto;
      //     }

      //     > .mat-drawer-content {
      //       max-width: 100%;
      //     }

      //     mat-sidenav {
      //       display: flex;
      //       flex-direction: column;
      //       width: 400px;
      //       max-width: 90%;
      //       box-shadow: 0 0 1px rgba(0, 0, 0, 0.37);
      //       overflow: hidden;
      //     }
      //   }
    }
  }
  .search {
    height: 36px;
    line-height: 36px;
    padding: 8px;
    font-size: 13px;
    // border-radius: 18px;
    border: 1px solid;
    overflow: hidden;
    background-color: #ffffff;
    border-color: #ffffff;
    // border-color: rgba(0, 0, 0, 0.12);
    @include mat-elevation(1);

    mat-icon.s-16 {
      color: rgba(0, 0, 0, 0.54) !important;
    }

    .icon {
      margin: 0;
      color: rgba(0, 0, 0, 0.54);
    }

    input {
      padding: 0 12px 0 8px;
      background-color: #ffffff;
      height: 26px !important;
      border: none;
    }
  }
  .side-bar {
    display: flex;
    flex: 1;
    flex-direction: column;
    .sidenav-content {
      overflow: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
    }
  }
  .side-bar-items {
    text-decoration: none !important;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 24px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    margin-right: 7px;
  }
  .SaveBtn {
    background-color: #efb577;
    color: white;
    margin-bottom: 8px;
  }
  .DeleteBtn {
    background-color: white;
    color: #efb577;
  }
  .calendarImg {
    height: 20px;
    margin-bottom: 12px;
  }
  .addAttachmentClass {
    padding-left: 70px;
    font-weight: 600;
    cursor: pointer !important;
    color: #74a2f9;
  }
  .addIcon {
    height: 26px;
    margin-top: 25px;
    padding-left: 8px;
    cursor: pointer !important;
  }
  .cardHeader {
    background-color: #fffdf9;
    height: 45px;
  }
  .boldClass {
    font-weight: bold;
  }
  .boldItalicClass {
    @extend .boldClass;
    font-style: italic;
  }
  .semiBoldClass {
    font-weight: 500;
  }
  .leftCard {
    @include mat-elevation(2);
    background: white;
    border-left: 5px solid #efb577;
    margin-left: 20px;
    cursor: pointer !important;
  }
  .subTitle {
    @extend .semiBoldClass;
    font-size: 12px;
    color: #d87060;
  }
  .addIcon {
    height: 20px;
    margin-top: 16px;
    padding-left: 4px;
    cursor: pointer !important;
  }
  .addAttachmentClass {
    margin-top: 25px;
    color: #4784f7;
    cursor: pointer !important;
  }
  .addBlueIcon {
    @extend .addIcon;
    margin-top: 0px;
    height: 15px;
  }
  .attachClass {
    // margin-top: 25px;
    padding-left: 8px;
    cursor: pointer !important;
    color: #4784f7;
  }
  .removeIcon {
    height: 20px;
    padding-right: 16px;
    cursor: pointer !important;
  }
  .mat-input-element:disabled {
    color: rgba(0, 0, 0, 0.87) !important;
    // background: whitesmoke !important;
    // cursor: not-allowed !important;
  }
  .whiteBg {
    background-color: white !important;
  }
  .btnBg {
    background-color: #efb577 !important;
    color: white;
  }
  .tile {
    @include mat-elevation(2);
    min-height: 60px !important;
    max-height: 250px !important;
    img {
      height: 36px;
    }
    cursor: pointer;
  }
  .redBorderBottom {
    border-bottom: 2px solid #f3705a;
  }
  .orangeBorderBottom {
    border-bottom: 2px solid #ffd15c;
  }
  .mat-form-field-flex > .mat-form-field-infix {
    padding: 0em 0px 0.6em !important;
  }
  .mat-form-field-appearance-outline {
    .mat-form-field-suffix,
    .mat-form-field-prefix {
      top: 0.5em;
      .mat-icon-button {
        width: 1.5em;
        height: 1.5em;
      }
    }
  }
  .mat-form-field-infix {
    width: auto;
  }
  .mat-form-field-label-wrapper {
    top: -1.5em;
  }
  .mat-form-field-wrapper {
    margin: 0 0 0 0;
    padding-bottom: 1em;
  }

  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
  }
  .mat-form-field-outline-start,
  .mat-form-field-outline-end {
    border-radius: 0 !important;
  }
  .rightCard {
    min-height: 300px !important;
    background-color: #f5f5f5;
  }
  .topLeftBorderRadius {
    border-top-left-radius: 20px;
  }
  .ticketTile {
    background-color: white;
    border-left: 5px solid #cccccc;
  }
  .italicClass {
    font-style: italic;
  }
  .avatar1 {
    height: 40px !important;
    width: 40px !important;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
  }
  .intervalclass {
    @extend .italicClass;
    @extend .semiBoldClass;
    font-size: small;
  }
  .subHeader {
    font-weight: 500;
  }
  .outer-circle {
    height: 100px;
    width: 100px;
    border: 3px dashed red;
    border-radius: 50%;
    position: relative;
  }
  .inner-circle {
    // height: 75px;
    // width: 75px;
    // border: 1px solid #f3705a;
    // border-radius: 50%;
    // background-color: white;
    position: absolute;
    top: 11%;
    left: 11%;
  }
  .chart-legend .legend-labels {
    width: 100px;
  }
  .search {
    height: 36px;
    line-height: 36px;
    padding: 8px;
    font-size: 13px;
    // border-radius: 18px;
    border: 1px solid;
    overflow: hidden;
    background-color: #ffffff;
    border-color: #ffffff;
    // border-color: rgba(0, 0, 0, 0.12);
    @include mat-elevation(1);
    border: 1px solid #c3c3c3;
    mat-icon.s-16 {
      color: rgba(0, 0, 0, 0.54) !important;
    }

    .icon {
      margin: 0;
      color: rgba(0, 0, 0, 0.54);
    }

    // input {
    //   padding: 0 12px 0 8px;
    //   background-color: #ffffff;
    //   height: 26px !important;
    //   border: none;
    // }
  }
  .doughnutChartPosition {
    margin-bottom: 8px;
    position: relative;
    left: 54%;
  }
  #doughnutChart {
    canvas {
      // width: 200px !important;
      height: 140px !important;
    }
  }
  #barChart {
    canvas {
      // width: 200px !important;
      height: 170px !important;
    }
  }

  @mixin TableBorderRight($color) {
    border-right: 1px solid $color;
  }

  .TableCommon {
    padding: 5px;
    font-size: 12px;
    min-width: 100px !important;
  }

  table {
    width: 100%;

    th {
      @include TableBorderRight(gray);
      @extend .TableCommon;
      text-align: left;
      color: white;
      background-color: #121214;
    }

    td {
      @include TableBorderRight(rgba(0, 0, 0, 0.12));
      @extend .TableCommon;
      // font-size: 12px;
      padding: 7px 5px !important;
      &.AmountClass {
        text-align: center;
      }
      &.Selectoption{
        text-align: center;
      }
      &.QtyClass {
        text-align: right;
      }
      min-width: max-content !important;
    }

    tr {
      height: 40px;
    }

    .mat-sort-header-container {
      padding-left: 5px;
      display: flex;
      justify-content: flex-start;
    }
  }
  .tableLeftBorder {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }
  .TableSelect .mat-form-field-wrapper {
  padding-bottom: 0px !important; 
}
  .tableCellBorder {
    height: 20px;
    vertical-align: middle;
    width: 10px;
    background-color: #d87e39;
    opacity: 0.7;
    margin-left: -5px;
  }
  
  .roundCommon {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
  }

  .round {
    @extend .roundCommon;
    background-color: white;
    border-color: gray;
  }
  // .round1 {
  //   @extend .roundCommon;
  //   background-color: white;
  //   border-color: #34ad65;
  // }
  .hor-timeline {
    height: 8px;
    margin-top: 5px;
    //border-radius: 4px;
  }
  .green-timeline {
    @extend .hor-timeline;
    background-color: #34ad65;
  }
  .orange-timeline {
    @extend .hor-timeline;
    background-color: #efb577;
  }
  .white-timeline {
    @extend .hor-timeline;
    background-color: white;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }
  .Rectangle {
    // width: 152px;
    min-height: 50px;
    border-radius: 9px;
    border: solid 1px #cccccc;
    background-color: #ffffff;
    cursor: pointer !important;
  }
  .Rectangle-106 {
    width: 36px;
    height: 33px;
    opacity: 0.2;
    border-radius: 2px;
    background-color: #f9d2a8;
  }

  .next {
    background-color: #e8ffeb;
    padding: 4px 2px;
  }

  .progress__svg {
    transform: rotate(-90deg);
  }

  .progress__meter,
  .progress__value {
    fill: none;
  }

  // .progress__meter {
  //   stroke: #ccc;
  //   stroke-dasharray: 2;
  // }

  // .progress__value {
  //   stroke: green;
  //   stroke-dasharray: 2;
  //   transition: all;
  // }
  .progress__meter {
    stroke: #f3705a;
  }

  .progress__value {
    stroke: #efefef;
    opacity: 0.9;
    transition: all 100ms;
  }
  .progressSubtitle {
    fill: #f3705a !important;
  }
  .pdfLinkClass {
    color: #1e8bed;
    cursor: pointer;
  }
  #footerCard {
    position: fixed;
    height: 50px;
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    bottom: 40px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    z-index: 100;
  }
  .cardActions {
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.16);
  }
  .WeightError {
    color: #f44336;
    font-size: 12px;
    margin-top: -16px;
    // margin-left: 32px;
  }
  .AttError {
    color: #f44336;
    font-size: 12px;
  }
  .floatBtn {
    position: fixed;
    bottom: 80px !important;
  }
  .Asnlist_header {
    font-weight: bold;
    font-size: 19px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 6px;
    margin-left: 3px;
  }
  .search-input_po {
    border: 0.7px solid darkgrey;
    border-radius: 3.3px;
    padding-left: 42px;
    width: 88%;
    height: 42px;
    border: 1px solid #c3c3c3;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-top: 15px;
  }
  .searchImg_po {
    object-fit: contain;
    opacity: 0.7;
    position: absolute;
    margin-left: 10px;
    margin-top: 29px;
    padding-left: 5px;
  }
  .cl_circle {
    border: 1px solid #cbcbcb;
    height: 2px;
    width: 2px;
    margin-top: -1px;
    position: absolute;

    border-radius: 66px;
  }
  .leftDivider {
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid #cbcbcb;
  }
  .rightDivider {
    margin-left: 10px;
    border-bottom: 1px solid #cbcbcb;
    margin-right: 5px;
  }

  .search-input {
    width: 90%;
    height: 30px;
    padding-left: 36px;
    margin-left: 5px;
    border: 0.7px solid darkgrey;
    border-radius: 3.3px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #c3c3c3;

    font-size: 13px;
  }

  .searchImg {
    object-fit: contain;
    opacity: 0.4;
    position: absolute;
    margin-left: 13px;
    margin-top: 10px;
    padding-left: 5px;
  }
  .input_date {
    width: 90%;
    height: 42px;
    border: 0.7px solid darkgrey;
    border-radius: 3.3px;
    padding-left: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #c3c3c3;

    font-size: 13px;
    font-weight: 400;
  }
  @media screen and (min-width: 200px) and (max-width: 900px) {
    .input_date {
      width: 90%;
      height: 39px;
      border: 0.7px solid darkgrey;
      border-radius: 3.3px;
      padding-left: 7px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      border: 1px solid #c3c3c3;

      font-size: 0.66rem;
      font-weight: 400;
    }
    .search-input_po {
      border: 0.7px solid darkgrey;
      border-radius: 3.3px;
      padding-left: 42px;
      width: 80%;
      height: 39px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      border: 1px solid #c3c3c3;

      font-size: 13px;
      font-weight: 400;
      margin-top: 15px;
    }
  }

  .cl_searchBtn {
    height: 38px;
    width: 130px;
    font-size: 11px;
    // background-color: #f4cda4;
    border: none;
    color: white;
    border-radius: 2.5px;
    letter-spacing: 1px;
  }
  .SearchBtn {
    height: 36px;
    min-width: 107px !important;
  }
  .excelImg {
    // margin: 4px 6px 4px 4px;
    height: 24px;
  }
  .excelBtn {
    margin-top: -16px;
    min-width: 0px;
    background-color: white;
    color: rgb(46, 125, 50);
    &.mat-stroked-button {
      // border-radius: 5px;
      padding: 0px 8px;
    }
  }
  .expandImg {
    height: 36px;
    margin-top: -16px;
    cursor: pointer;
  }
  .inp_Img_date {
    object-fit: contain;
    position: absolute;
    top: 44px;
    margin-left: -21px;
  }

  .fill {
    flex: 1 1 auto;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("assets/images/arrow.png");
    background-size: 11px;
    background-repeat: no-repeat;
    background-position-x: 91%;
    background-position-y: 11px;
    padding-right: 2px;
  }
  .selectInput {
    width: 12%;
    height: 35px;
    padding-left: 10px;
    padding-right: 12px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #c3c3c3;
    font-size: 13px;
    font-weight: 500;
    border-radius: 2px;
  }
  .excel {
    border-radius: 3px;
    padding: 0px 10px;
    /* border-color: green; */
    border: 1.5px solid #2e7d32;
    margin-left: 16px;
    margin-right: 16px;
  }

  .toolbar {
    height: 100px;
    background-color: white;
    width: 100%;
    margin-top: 15px;
  }

  .cl_box {
    position: absolute;
    height: 22px;
    width: 9px;
    // margin-left: -6px;
    opacity: 0.7;
    // margin-top: 5px;
  }
  .lightning_img {
    object-fit: contain;
    position: absolute;

    margin-left: 7px;
  }
  .Spacer {
    flex: 1 1 auto;
  }
  .excelBtn {
    // margin-top: -16px;
    min-width: 0px;
    background-color: white;
    color: rgb(46, 125, 50);
    &.mat-stroked-button {
      // border-radius: 5px;
      padding: 0px 8px;
    }
  }
  .excelImg {
    // margin: 4px 6px 4px 4px;
    height: 24px;
  }
}
