<div id="user-master" class="page-layout carded fullwidth">
  <div class="center">
    <div class="outer" fxLayout>
      <div class="bg"></div>
      <div>
        <h3 class="head1"><b>User Preference</b></h3>
      </div>
      <div fxFlex align="end">
        <span><img src="assets/images/logo.svg" class="logoClass"></span>
      </div>
    </div>
    <div fxLayout class="content-card1">
      <div id="chat" class="page-layout carded fullwidth" fusePerfectScrollbar>
        <!-- <div class="top-bg" [ngClass]="BGClassName?.layout?.navbar?.secondaryBackground"></div> -->
        <div class="center" fxLayout="column" fxLayoutAlign="start">
          <mat-card class="card1">
            <form class="center m-12" autocomplete="off" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
              name="form" [formGroup]="userPreferenceFormGroup">
              <div fxFlex fxLayout class="pt-16">
                <div fxFlex fxLayout="column" class="borderRightClass">
                  <div fxLayout="row wrap" fxLayoutAlign="start">
                    <h3 class="m-16">Primary Color</h3>
                    <fuse-material-color-picker class="mb-16" formControlName="navbarPrimaryBackground">
                    </fuse-material-color-picker>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="start">
                    <h3 class="m-16">Secondary Color</h3>
                    <fuse-material-color-picker class="mb-16" formControlName="navbarSecondaryBackground">
                    </fuse-material-color-picker>
                  </div>
                  <div fxLayout="row wrap" class="grow" fxLayoutAlign="start">
                    <h3 class="m-16">Tool Color</h3>
                    <fuse-material-color-picker class="mb-16" formControlName="toolbarBackground">
                    </fuse-material-color-picker>
                  </div>
                  <div class="pt-16" fxLayout="row wrap" fxLayoutAlign="end">
                    <button mat-raised-button type="button" (click)="ResetControl()" *ngIf="!userPreference.ID"
                      style="margin-right:10px">
                      Clear
                    </button>
                    <!-- <button mat-raised-button color="warn" type="button" (click)="DeleteClicked()"
                    *ngIf="userPreference.ID" style="margin-right:10px">
                    Delete
                  </button> -->
                    <button mat-raised-button color="accent" type="button"
                      [ngClass]="BGClassName?.layout?.toolbar?.background" (click)="SaveClicked()">
                      {{userPreference.ID?'Update':'Create'}}
                    </button>
                  </div>
                </div>
                <!-- <div fxFlex class="p-24" fxHide.xs fxHide.sm>
              </div> -->
              </div>
            </form>

          </mat-card>
          <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion" color="accent"
            mode="indeterminate">
          </mat-progress-spinner>
          <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
        </div>
      </div>
    </div>
    <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="IsProgressBarVisibile">
    </div>
  </div>
</div>