<div id="order-fulfilment-center" class="page-layout carded" fusePerfectScrollbar>
  <div class="center" fxLayout="column" fxLayoutGap="10px">
    <div class="outer" fxLayout>
      <div class="bg"></div>
      <div>
        <h3 class="head1">
          <b>{{'ORDER_FULFILMENT_CENTER.HEADER_TITLE' | translate}}</b></h3>
      </div>
      <div fxFlex align="end">
        <span><img src="assets/images/logo.svg" class="logoClass"></span>
      </div>
    </div>
    <!-- Tiles -->
    <div fxFlex fxLayout>
      <div class="tile mx-20" fxFlex="30" fxLayout="column" fxLayoutAlign="start">
        <div fxLayoutAlign="start center" class="pt-8">
          <span class="boldClass pl-8">{{'ORDER_FULFILMENT_CENTER.ON_TIME_IN_FULL_OTIF' | translate}}</span>
        </div>
        <span [ngClass]="BGClassName?.layout?.navbar?.secondaryBackground" class="orangeBorderBottom1"></span>
        <div fxFlex fxLayoutAlign="center" class="pt-8">
          <svg height="140" width="140" viewBox="0 0 140 140" class="progress__svg">
            <circle class="progress__meter" [style.strokeDasharray]="2" cx="70" cy="70" [attr.r]="radius"
              stroke-width="10" />
            <circle class="progress__value" [style.strokeDasharray]="circumference"
              [style.strokeDashoffset]="1-dashoffset1" cx="70" cy="70" [attr.r]="radius" stroke-width="10" />
            <circle r="49" cx="70" cy="70" stroke="#f3705a" stroke-width="2" fill="none" class="inner-circle" />
            <text text-anchor="middle" alignment-baseline="middle" transform="rotate(90,70,70)">
              <tspan x="70" y="70" dy="0.18em" font-size="20">{{progressPercentage1}}%</tspan>
              <tspan x="70" y="70" dy="1.82em" font-size="10" class="progressSubtitle">Efficiency</tspan>
            </text>
          </svg>
        </div>
      </div>
      <div class="tile mx-20" fxFlex="30" fxLayout="column" fxLayoutAlign="start">
        <div fxLayoutAlign="start center" class="pt-8">
          <span class="boldClass  pl-8">PPM</span>
        </div>
        <span [ngClass]="BGClassName?.layout?.navbar?.secondaryBackground" class="orangeBorderBottom"></span>
        <div fxFlex fxLayoutAlign="center" class="pt-8">
          <svg height="140" width="140" viewBox="0 0 140 140" class="progress__svg">
            <circle class="progress__meter" [style.strokeDasharray]="2" cx="70" cy="70" [attr.r]="radius"
              stroke-width="10" />
            <circle class="progress__value" [style.strokeDasharray]="circumference"
              [style.strokeDashoffset]="1-dashoffset2" cx="70" cy="70" [attr.r]="radius" stroke-width="10" />
            <circle r="49" cx="70" cy="70" stroke="#f3705a" stroke-width="2" fill="none" class="inner-circle" />
            <text text-anchor="middle" alignment-baseline="middle" transform="rotate(90,70,70)">
              <tspan x="70" y="70" dy="0.18em" font-size="20">{{progressPercentage2}}</tspan>
            </text>
          </svg>
        </div>
      </div>
      <div class="tile mx-20" fxFlex="40" fxLayout="column" fxLayoutAlign="start">
        <div fxLayoutAlign="start center" class="pt-8">
          <span class="boldClass orangeBorderBottom pl-8">Fulfilment </span>
        </div>
        <span [ngClass]="BGClassName?.layout?.navbar?.secondaryBackground" class="orangeBorderBottom2"></span>
        <div *ngIf="doughnutChartLabels && doughnutChartLabels.length" id="doughnutChart" fxFlex fxLayout="row" fxLayoutAlign="center center" class="pt-8 pl-8 pr-4">

          <canvas baseChart id="myChart" [data]="doughnutChartData" [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType" [options]="doughnutChartOptions" [colors]="colors"
            (chartClick)="doughnutChartClicked($event)">
          </canvas>

          <!-- <span style="position: absolute;margin-left: 100px;font-size: 22px;font-weight: 500;">{{length}}</span> -->
        </div>
        <!-- <div fxFlex fxLayout fxLayoutAlign="end center">
          <div fxFlex class="doughnutChartPosition boldClass"> Fulfilment status </div>
        </div> -->
      </div>
      <!-- <div class="tile mx-20" fxFlex="41" fxLayout="column" fxLayoutAlign="start">
        <div fxLayoutAlign="start" class="pt-8">
          <span class="boldClass orangeBorderBottom pl-8"> Delivery status </span>
        </div>
        <span [ngClass]="BGClassName?.layout?.navbar?.secondaryBackground" class="orangeBorderBottom3"></span>
        <div fxFlex fxLayoutAlign="start" class="pt-0 px-8">
          <apx-chart class="barchart"  [colors]="BarchartOptions.colors" [series]="BarchartOptions.series" [chart]="BarchartOptions.chart" [dataLabels]="BarchartOptions.dataLabels"
            [plotOptions]="BarchartOptions.plotOptions" [yaxis]="BarchartOptions.yaxis" [legend]="BarchartOptions.legend"
            [fill]="BarchartOptions.fill" [stroke]="BarchartOptions.stroke" [tooltip]="BarchartOptions.tooltip"
            [xaxis]="BarchartOptions.xaxis"></apx-chart>
        </div>
      </div> -->
    </div>
    <!-- Tiles -->

    <!-- ofSearchForm -->
    <div class="sidenav-content px-24 mt-4" fxFlex>
      <form class="formGroupStyle" autocomplete="off" fxFlex name="form" [formGroup]="ofDetailsFormGroup" novalidate>
        <div fxLayout="row" class="formRowStyle" fxLayout.xs="column">
          <div fxFlex="15%">
            <mat-form-field style="width: 94%;">
              <input matInput placeholder="Doc Number" formControlName="DocNumber">
            </mat-form-field>
          </div>
          <div fxFlex="15%">
            <mat-form-field style="width:90%">
              <input matInput placeholder="From Date" [matDatepicker]="picker1" formControlName="FromDate"
                (dateChange)="fromAndToDateChanged()">
              <mat-datepicker-toggle matSuffix [for]="picker1">
                <img matDatepickerToggleIcon class="calendarImg" src="assets/images/calendar.png">
              </mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex="15%">
            <mat-form-field style="width:90%">
              <input matInput placeholder="To Date" [matDatepicker]="picker2" formControlName="ToDate"
                (dateChange)="fromAndToDateChanged()">
              <mat-datepicker-toggle matSuffix [for]="picker2">
                <img matDatepickerToggleIcon class="calendarImg" src="assets/images/calendar.png">
              </mat-datepicker-toggle>
              <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>
            <div *ngIf="isDateError" style="color:#f44336;font-size: 12px;margin-top: -16px">
              To date should not be less than from date
            </div>
          </div>
          <div fxFlex="15%">
            <mat-form-field style="width:90%" >
              <mat-select placeholder="PO Type" formControlName="DocType" [(ngModel)]="statusvalue">
                <!-- <mat-option>None</mat-option> -->
                <mat-option *ngFor="let ofType of ofTypeOptions" [value]="ofType.Value">
                  <!-- (click)="getOfsByOptionClicked()" -->
                  <span>{{ofType.Name}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="20%">
            <mat-form-field style="width:90%" >
              <mat-select placeholder="Status" formControlName="Status">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let ofStatus of ofStatusOptions" [value]="ofStatus.Value">
                  <!-- (click)="getOfsByOptionClicked()" -->
                  <span>{{ofStatus.Name}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="20%">
            <div fxLayout fxLayoutAlign="start center">
              <button class="mt-12" style="color:white" [ngClass]="BGClassName?.layout?.navbar?.primaryBackground"
                mat-raised-button (click)="getOfsByOptionClicked('Search')">Search</button>
              <button class="ml-12 mt-12" style="color: #efb577;background-color: white;" mat-stroked-button
                (click)="ResetClicked('Reset')">Reset</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- ofSearchForm -->

    <!-- ofTable -->
    <div class="px-20 pb-20">
      <table class="abnormal" mat-table [dataSource]="ofDetailsDataSource" matSort>
        <ng-container matColumnDef="DocNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"
            [ngClass]="BGClassName?.layout?.toolbar?.background">
            PO Number </th>
          <td mat-cell *matCellDef="let element;let odd=odd" (click)="acknowledgementClicked(element.DocNumber)"
            class="tableLeftBorder pl-0">
            <div fxLayout>
              <div class="tableCellBorder" [style.background-color]="odd?'#6f52ed':'#d87e39'"></div>
              <div fxFlex class="pl-4">{{element.DocNumber}} </div>
            </div>
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="DocVersion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 8%;"
            [ngClass]="BGClassName?.layout?.toolbar?.background"> Version </th>
          <td mat-cell *matCellDef="let element" (click)="acknowledgementClicked(element.DocNumber)">
            {{element.DocVersion}} </td>
        </ng-container> -->

        <ng-container matColumnDef="DocType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 8%;"
            [ngClass]="BGClassName?.layout?.toolbar?.background"> Type </th>
          <td mat-cell *matCellDef="let element" (click)="acknowledgementClicked(element.DocNumber)">
            {{element.DocType}} </td>
        </ng-container>

        <ng-container matColumnDef="DocDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 8%;"
            [ngClass]="BGClassName?.layout?.toolbar?.background"> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.DocDate | date :'dd/MM/yyyy'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="PlantName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 8%;"
            [ngClass]="BGClassName?.layout?.toolbar?.background"> Plant </th>
          <td mat-cell *matCellDef="let element" (click)="acknowledgementClicked(element.DocNumber)">
            {{element.PlantName}} </td>
        </ng-container>

        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef style="min-width: 50%;" style="text-align: center"
            [ngClass]="BGClassName?.layout?.toolbar?.background"> Order Fulfilment Status </th>
          <td mat-cell *matCellDef="let element" style="min-width: 310px !important;">
            <div fxLayout class="mt-4 mx-8">
              <div fxFlex="30" fxLayout>
                <div class="round" (click)="acknowledgementClicked(element.DocNumber,'DueForACK')"
                  [style.border-color]="element.Status==='DueForACK'?'gray':'#34ad65'"></div>
                <div style="width: 10px;margin-left: -1px !important"
                  [class]="element.Status==='DueForACK'?'white-timeline':'green-timeline'"></div>
                <div [class]="element.Status==='DueForACK'?'white-timeline':element.Status==='DueForASN'?'white-timeline':'green-timeline'" fxFlex></div>
              </div>
              <div fxFlex="30" fxLayout>
                <div style="width: 10px;margin-right: -1px !important" [class]="getTimeline(element,'ASN')">
                </div>
                <div class="round" (click)="acknowledgementClicked(element.DocNumber,'DueForASN')"
                  [style.border-color]="getStatusColor(element,'ASN')"></div>
                <div style="width: 10px; margin-left: -1px !important" [class]="getTimeline(element,'ASN')">
                </div>
                <div [class]="getRestTimeline(element,'ASN')" fxFlex></div>
              </div>
              <div fxFlex="30" fxLayout>
                <div style="width: 10px;margin-right: -1px !important" [class]="getGateTimeline(element)">
                </div>
                <div class="round" (click)="acknowledgementClicked(element.DocNumber,'DueForGate')"
                  [style.border-color]="getGateStatusColor(element)"></div>
                <div style="width: 10px;margin-left: -1px !important" [class]="getGateTimeline(element)">
                </div>
                <div [class]="getGateRestTimeline(element)" fxFlex></div>
              </div>
              <div fxFlex="10" fxLayout>
                <div style="width: 10px;margin-right: -1px !important" [class]="getGRNTimeline(element)">
                </div>
                <div class="round" (click)="acknowledgementClicked(element.DocNumber,'DueForGRN')"
                  [style.border-color]="getGRNStatusColor(element)"></div>
              </div>
            </div>
            <div fxLayout fxLayoutAlign="start center" class="mx-8">
              <div fxFlex="30" class="timelineItem">ACK</div>
              <div fxFlex="30" class="timelineItem">ASN</div>
              <div fxFlex="30" class="timelineItem">Gate</div>
              <div fxFlex="10" class="timelineItem">GRN</div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="Document">
          <th mat-header-cell *matHeaderCellDef style="width: 10%;" [ngClass]="BGClassName?.layout?.toolbar?.background"
            style="text-align: center"> Document </th>
          <td mat-cell *matCellDef="let element" (click)="viewOfAttachmentClicked(element)" style="text-align: center;">
            <div style="margin-top: 3px; margin-left: 15px;">
              <span [matBadge]="element.DocCount" matBadgeSize="medium" matBadgeColor="accent"
                matBadgeOverlap="false"></span>
            </div>
            <img style="height: 24px" src="assets/images/attachment.png">
          </td>
        </ng-container>

        <ng-container matColumnDef="NextProcess">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"
            [ngClass]="BGClassName?.layout?.toolbar?.background"> Next Process </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span>
              <div [class]="getNextProcess(element)"></div>
              <button style="background-color: #e8ffeb;color: #000000;" mat-button
                (click)="nextProcessClicked(element.NextProcess,element.DocNumber)">{{element.NextProcess}}</button>
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef style="width: 10%;" [ngClass]="BGClassName?.layout?.toolbar?.background"
            style="text-align: center">Action </th>
          <td mat-cell *matCellDef="let element;let i= index;" style="text-align: center;">
            <mat-form-field appearance="outline" style="width: 120px;">
              <mat-icon matPrefix svgIcon="thunderBlackIcon" height="20px"></mat-icon>
              <mat-label ng-mouseenter="$mdMenu.open()">Actions</mat-label>
              <mat-select ng-mouseleave="$mdMenu.close()">
                <mat-option value="Acknowledge" (click)="acknowledgementClicked(element.DocNumber,'ACK')">ACK
                </mat-option>
                <mat-option value="POLookup" (click)="goToPOFactSheetClicked(element.DocNumber)">PO Factsheet
                </mat-option>
                <mat-option value="ASN" (click)="goToASNClicked(element.DocNumber,element.DocType)">ASN / SCN</mat-option>
                <!-- <mat-option value="POFlip" (click)="goToPOFlipClicked(element.DocNumber)">PO Flip</mat-option> -->
                <mat-option value="Subcon" *ngIf="(element.DocType | lowercase)==='subcon'"
                  (click)="goToSubconClicked(element.DocNumber)">Subcon</mat-option>
                <mat-option value="SupportDesk" (click)="goToSupportDeskClicked(element.DocNumber)">Get
                  Solved
                </mat-option>
                <mat-option value="PrintPO" (click)="goToPrintPOClicked(element.DocNumber)">Print PO
                </mat-option>
                <!-- <mat-option value="Acknowledge" (click)="Acknowledgement(element.DocNumber)">ACK</mat-option>
                <mat-option value="POLookup" (click)="PurchaseOrder(element.DocNumber)">PO Factsheet</mat-option>
                <mat-option value="ASN" (click)="AdvanceShipment(element.DocNumber)">ASN</mat-option>
                <mat-option value="POFlip" (click)="POFlip(element.DocNumber)">PO Flip</mat-option>
                <mat-option value="Subcon" *ngIf="(element.DocType | lowercase)==='subcon'" (click)="GotoSubcon(element.DocNumber)">Subcon</mat-option> -->
              </mat-select>
            </mat-form-field>
            <!-- <div>
              <button mat-button [matMenuTriggerFor]="i" (mouseenter)="openMyMenu(i)">Trigger1</button>
              <mat-menu #i="matMenu" overlapTrigger="false">
                <span (mouseleave)="closeMyMenu(i)">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
                </span>
              </mat-menu>
            </div> -->
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="ofDetailsDisplayedColumns"></tr>
        <tr style="cursor: pointer;" mat-row *matRowDef="let row; columns: ofDetailsDisplayedColumns; ">
        </tr>

      </table>
      <mat-toolbar *ngIf="TableFooterShow">
        <span class="example-spacer"></span>
        <span>No Datas Found</span>
        <span class="example-spacer"></span>
      </mat-toolbar>
      <div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!-- ofTable -->

    <mat-progress-spinner *ngIf="isProgressBarVisibile || isProgressBarVisibile1 || isProgressBarVisibile2 || isProgressBarVisibile3" class="progressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="isProgressBarVisibile || isProgressBarVisibile1 || isProgressBarVisibile2 || isProgressBarVisibile3"></div>
  </div>
</div>