<div>
  <mat-toolbar class="toolBg m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Payment Details</span>
      <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <form autocomplete="off" 
  [formGroup]="InvoiceFormGroup">
<div mat-dialog-content class="m-8" >
  <div fxFlex fxLayout="row wrap" class="my-8">
    <div fxFlex="50" class="px-12 my-8">
  <mat-form-field  style="width: 100%;">
    <input matInput placeholder="Amount"  [disabled]="isMulitple" formControlName="PaymentAmount">
    <!-- <mat-error *ngIf="InvoiceFormGroup.controls['PaymentAmount'].errors?.required" >Payment Amount should be less than {{data.InvoiceAmount}}</mat-error> -->
    <mat-error
    *ngIf="InvoiceFormGroup.get('PaymentAmount').touched && InvoiceFormGroup.get('PaymentAmount').hasError('required')">
    Amount is required
  </mat-error>
  <mat-error
  *ngIf="InvoiceFormGroup.get('PaymentAmount').touched && InvoiceFormGroup.get('PaymentAmount').hasError('max')">
  Enter Full Amount
</mat-error>
<!-- <mat-error *ngIf="InvoiceFormGroup.PaymentAmount.errors.max">Amount should be less than invoice amount</mat-error> -->
  </mat-form-field>
</div>
<div fxFlex="50" class="px-12 my-8">

  <mat-form-field  style="width: 100%;">
    <input matInput placeholder="Reference No"   formControlName="ReferenceNumber">
    <mat-error
    *ngIf="InvoiceFormGroup.get('ReferenceNumber').touched && InvoiceFormGroup.get('ReferenceNumber').hasError('required')">
    Reference No is required
  </mat-error>
 
  </mat-form-field>
  </div>
  <div fxFlex="50" class="px-12 my-8">

  <mat-form-field  style="width: 100%;">
    <input matInput placeholder="Payment Date" [matDatepicker]="picker0" formControlName="PaymentDate">
    <mat-datepicker-toggle matSuffix [for]="picker0">
      <mat-icon matDatepickerToggleIcon svgIcon="calendarIcon" class="mb-12"></mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker0></mat-datepicker>
    <mat-error
    *ngIf="InvoiceFormGroup.get('PaymentDate').touched && InvoiceFormGroup.get('PaymentDate').hasError('required')">
    Payment Date is required
  </mat-error>
 
  </mat-form-field>
  </div>
  <div fxFlex="50" class="px-12 my-8">
  <mat-form-field  style="width: 100%;">
    <input matInput placeholder="Account No"   formControlName="AccountNo">
    <mat-error
    *ngIf="InvoiceFormGroup.get('AccountNo').touched && InvoiceFormGroup.get('AccountNo').hasError('required')">
    Account No is required
  </mat-error>
  </mat-form-field>
  </div>
  <div fxFlex="50" class="px-12 my-8">
  <mat-form-field  style="width: 100%;">
    <input matInput placeholder="Bank"   formControlName="Bank">
    <mat-error
    *ngIf="InvoiceFormGroup.get('Bank').touched && InvoiceFormGroup.get('Bank').hasError('required')">
    Bank is required
  </mat-error>
 
  </mat-form-field>
  </div>
  <div fxFlex="50" class="px-12 my-8">
  <mat-form-field  style="width: 100%;">
    <input matInput placeholder="Payment Type"   formControlName="PaymentType">
    <mat-error
    *ngIf="InvoiceFormGroup.get('PaymentType').touched && InvoiceFormGroup.get('PaymentType').hasError('required')">
    Payment Type is required
  </mat-error>
 
  </mat-form-field>
  </div>
</div>
</div> 

</form>

<mat-dialog-actions class="m-0 p-16"  align="end" >
  <button mat-button class="btnBg" [mat-dialog-close]="null" mat-dialog-close>Cancel</button>
  <div fxFlex align="end">
  <button mat-button class="btnBg1" align="end"  (click)="submit()">Submit</button>
  </div>
</mat-dialog-actions>
</div>
