@import "src/@fuse/scss/fuse";
#CAPA-Dashboard {
    background-color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 0px;
        margin: 0px;
    }
    .progressBarPostion {
        position: absolute !important;
        top: 350px;
        z-index: 1;
        left: 55%;
    }
    .outer {
        border-bottom: 1px solid rgba(255, 85, 0, 0.1);
        position: relative;
        z-index: 1;
        .bg {
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: url("assets/images/header_2.png");
            opacity: 0.1;
            background-repeat: no-repeat;
        }
        width: 100%;
        object-fit: contain;
        line-height: 50px;
        display: inline-block;
        vertical-align: middle;
    }
    .TableFooter {
        margin-top: 0px !important;
        border: 1px solid #e3dbdb;
        height: 47px;
        border-top: 0px;
    }
    @mixin TableBorderRight($color) {
        border-right: 1px solid $color;
    }

    .TableCommon {
        padding: 5px;
        font-size: 12px;
        min-width: 100px !important;
    }
    table {
        width: 100%;

        th {
            @include TableBorderRight(gray);
            @extend .TableCommon;
            text-align: left;
            color: white;
            background-color: #121214;
        }

        td {
            @include TableBorderRight(rgba(0, 0, 0, 0.12));
            @extend .TableCommon;
            // font-size: 12px;
            padding: 7px 5px !important;
            &.AmountClass {
                text-align: center;
            }
            &.Selectoption {
                text-align: center;
            }
            min-width: max-content !important;
        }

        tr {
            height: 40px;
        }

        .mat-sort-header-container {
            padding-left: 5px;
            display: flex;
            justify-content: flex-start;
        }
    }
    .tableLeftBorder {
        border-left: 1px solid rgba(0, 0, 0, 0.12);
    }
    .TableSelect .mat-form-field-wrapper {
        padding-bottom: 0px !important;
    }
    .tableCellBorder {
        height: 20px;
        vertical-align: middle;
        width: 10px;
        background-color: #d87e39;
        opacity: 0.7;
        margin-left: -5px;
    }
    .fabBtn {
        background-color: orange;
        margin-top: 8px;
        margin-left: 7px;
        width: 35px;
        height: 34px;
      }
      #footerCard {
        position: fixed;
        height: 50px;
        box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
        z-index: 100;
    }
    .SaveBtn {
        background-color: #efb577;
        color: white;
    }
}
