<div id="performance-page" class="page-layout carded">
  <div class="center" fxLayout="column" fxLayoutGap="10px">
    <div class="outer" fxLayout>
      <div class="bg"></div>
      <div>
        <h3 class="head1"><b>Performance</b></h3>
      </div>
      <div fxFlex align="end">
        <span><img src="assets/images/logo.svg" class="logoClass"></span>
      </div>
    </div>
    <div class="content" style="margin-bottom: 30px;">
      <!-- <mat-card fxFlex fxLayout="column" style="padding: 0px !important">
        <div fxFlex style="padding: 24px 24px 0px 24px; background-color: gainsboro;">
          <div class="container">
            <div class="img-container" *ngFor="let i of sliderArray; let select = index;"
              [ngClass]="{'selected': select == selectedIndex}">
              <img src="{{i.img}}" alt="{{i.alt}}">
            </div>
            <div [ngStyle]="{'transform': 'translateY('+ transform + '%' +')', 'transition': '.8s'}">
              <div class="text-container">
                <div class="page-text" *ngFor="let i of sliderArray;let select = index;"
                  [ngClass]="{'selected': select == selectedIndex}">
                  <h3>{{i.text}}</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="slider">
            <div class="slide-button-parent-container" *ngFor="let i of sliderArray; let x =index" (click)="selected(x)"
              (keypress)="keySelected(x)">
              <div class="select-box">
                <div class="slide-button" [ngClass]="{'slide-button-select': x == selectedIndex}">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex style="padding: 0px 24px 24px 24px !important">
          <div fxLayout="column" fxFlex>
            <div fxFlex>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <p>Lorem Ipsum has been the industry's standard dummy</p>
            </div>
            <div fxFlex style="text-align: right;">
              <button class="next-button" mat-raised-button (click)="selected(x)" (keypress)="keySelected(x)">
                Next
              </button>
            </div>
          </div>
        </div>
      </mat-card> -->
      <mat-card fxFlex fxLayout="row" style="padding: 0px !important">
        <div fxFlex fxLayout="column">
          <div fxFlex fxLayout="row" style="background-color: #e9e7e7; padding: 50px 0px 0px 0px;">
            <div fxFlex="5" fxLayoutAlign="center center">
              <mat-icon style="cursor: pointer;" [ngStyle]="{'color':'#efb577'}" (click)="prevImageClick()">
                arrow_back_ios</mat-icon>
            </div>
            <ng-image-slider fxFlex="90" #nav [images]="imageObject" [infinite]="false" [autoSlide]="1"
              [imageSize]="{width: '100%', height: 350}" slideImage="1" [showArrow]="false">
            </ng-image-slider>
            <div fxFlex="5" fxLayoutAlign="center center">
              <mat-icon style="cursor: pointer;" [ngStyle]="{'color':'#efb577'}" (click)="nextImageClick()">
                arrow_forward_ios</mat-icon>
            </div>
          </div>
          <div fxFlex style="padding: 0px 24px 24px 24px !important; background-color: white; color: black;">
            <div fxLayout="column" fxFlex>
              <div fxFlex style="padding: 0px 42px 0px 42px ; font-size: 16px;">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum has been the industry's standard dummy</p>
              </div>
              <div fxFlex style="text-align: right;">
                <button class="next-button" mat-raised-button (click)="nextImageClick()">
                  Next
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <mat-progress-spinner *ngIf="isProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="isProgressBarVisibile">
    </div>
  </div>
</div>