<div id="pod12" class="page-layout carded" fusePerfectScrollbar>
  <div class="center" fxLayout="column" fxLayoutGap="10px">
    <div class="outer" fxLayout>
      <div class="bg"></div>
      <div>
        <h3 class="head1"><b>POD Due List</b></h3>
      </div>
      <div fxFlex align="end">
        <span><img src="assets/images/logo.svg" class="logoClass"></span>
      </div>
    </div>
    <div fxFlex fxLayout *ngIf="!isExpanded" @expandCollapse>

      <div fxFlex fxLayout fxLayoutGap="0px">

        <div class="tile mx-20" fxFlex="50">
          <form autocomplete="off" class="p-12" name="form" novalidate [formGroup]="SearchFormGroup">
            <div fxLayout="column" class="mt-16" fxLayoutAlign="center stretch">
              <div fxLayout fxLayoutAlign="start center">
                <mat-form-field appearance="outline" fxFlex="50" class="mr-8">
                  <mat-label>Invoice Number</mat-label>
                  <input matInput formControlName="InvoiceNumber">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50" class="mr-8">
                  <mat-label>Status</mat-label>
                  <mat-select formControlName="Status">
                    <mat-option *ngFor="let ofStatus of StatusOptions" [value]="ofStatus.Value">
                      <span>{{ofStatus.Name}}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout fxLayoutAlign="start center">
                <mat-form-field appearance="outline" fxFlex="50" class="mr-8">
                  <mat-label>From Date</mat-label>
                  <input matInput [matDatepicker]="picker1" formControlName="FromDate" (dateChange)="DateSelected()">
                  <mat-datepicker-toggle matSuffix [for]="picker1">
                    <mat-icon matDatepickerToggleIcon svgIcon="calendarIcon"></mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <div fxFlex="50" class="mr-8">
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>To Date</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="ToDate" (dateChange)="DateSelected()">
                    <mat-datepicker-toggle matSuffix [for]="picker2">
                      <mat-icon matDatepickerToggleIcon svgIcon="calendarIcon"></mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                  <div *ngIf="isDateError" class="DateError">
                    To date should not be less than from date
                  </div>
                </div>

              </div>
              <div fxLayout fxLayoutAlign="center">
                <button mat-raised-button class="SaveBtn" (click)="SearchClicked('Search')"
                  [ngClass]="BGClassName?.layout?.navbar?.primaryBackground">Search</button>
              </div>

            </div>
          </form>
        </div>

        <div class="tile mx-20" fxFlex="25" fxLayout="column" fxLayoutAlign="start">
          <div fxLayoutAlign="start center" class="pt-8">
            <span class="boldClass pl-8">Invoices</span>
          </div>
          <span [ngClass]="BGClassName?.layout?.navbar?.secondaryBackground" class="orangeBorderBottom"></span>
          <div fxFlex fxLayoutAlign="center" class="p-12" *ngIf="PODPieChartData.length">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [options]="pieChartOptions"
              [colors]="pieChartColors" [legend]="pieChartLegend" [chartType]="pieChartType" (chartClick)="pieChartClicked($event)">
            </canvas>
          </div>
        </div>

        <div class="tile mx-20" fxFlex="25">
          <div fxLayout fxLayoutAlign="center">
            <img src="assets/images/reportImg.png">
          </div>
        </div>
      </div>
    </div>


    <div fxFlex class="px-20 pb-20" fxFlex="1 0 auto">
      <div fxLayout="row" class="mt-20" fxLayoutAlign="start center">
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-icon class="mr-12" matPrefix>search</mat-icon>
          <mat-label>Search</mat-label>
          <input [(ngModel)]="searchText" matInput (keyup)="applyFilter($event)">
        </mat-form-field>
        <div fxFlex fxLayoutAlign="end center">
          <!-- <mat-form-field appearance="outline" style="min-width: 100px;">
            <mat-select [(ngModel)]="SelectValue">
              <mat-option value="All">All</mat-option>
            </mat-select>
          </mat-form-field> -->
          <button (click)="exportAsXLSX()" class="excelBtn mx-24" mat-stroked-button>
            <img class="excelImg" src="assets/images/excel.png">
          </button>
          <img class="expandImg" src="assets/images/expand.png" (click)="expandClicked()">
        </div>
      </div>

      <table mat-table [dataSource]="PODataSource" matSort>
        <ng-container matColumnDef="InvoiceNumber">
          <th mat-header-cell *matHeaderCellDef> Invoice Number </th>
          <td mat-cell *matCellDef="let element;let odd=odd" class="tableLeftBorder pl-0">
            <div fxLayout>
              <div class="tableCellBorder" [style.background-color]="odd?'#6f52ed':'#d87e39'"></div>
              <div fxFlex class="pl-4">
                <span class="pdfLinkClass"
                  (click)="GotoPODDetails(element.InvoiceNumber)">{{element.InvoiceNumber | removeLeadingZero}}</span>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="InvoiceDate">
          <th mat-header-cell *matHeaderCellDef> Invoice Date </th>
          <td mat-cell *matCellDef="let element">
            {{element.InvoiceDate | date :'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="Amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element" class="QtyClass">
            {{element.Amount}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Currency">
          <th mat-header-cell *matHeaderCellDef> Currency </th>
          <td mat-cell *matCellDef="let element">
            {{element.Currency}}
          </td>
        </ng-container>
        <ng-container matColumnDef="DocNumber">
          <th mat-header-cell *matHeaderCellDef> Document Number </th>
          <td mat-cell *matCellDef="let element">
            {{element.DocNumber | removeLeadingZero}}
          </td>
        </ng-container>


        <ng-container matColumnDef="TruckNumber">
          <th mat-header-cell *matHeaderCellDef> Truck Number </th>
          <td mat-cell *matCellDef="let element">
            {{element.TruckNumber}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Transporter">
          <th mat-header-cell *matHeaderCellDef> Transporter </th>
          <td mat-cell *matCellDef="let element">
            {{element.Transporter}}
          </td>
        </ng-container>

        <ng-container matColumnDef="VessleNumber">
          <th mat-header-cell *matHeaderCellDef> Vessel Number </th>
          <td mat-cell *matCellDef="let element">
            {{element.VessleNumber}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element">
            {{element.Status}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="PODDisplayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: PODDisplayedColumns;let even=even">
        </tr>
      </table>
      <div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25,50,100,250,500,1000]"></mat-paginator>
      </div>
    </div>

    <!-- <div fxLayout class="content-card1">
      
      <mat-card fxFlex="100" class="side-bar p-0">
        <div class="sidenav-content" fxFlex fxLayout="column">
          <div class="px-12 mt-24">
            <div *ngIf="!AllPODHeaders?.length" class="cl_norec"> 
             
                No Records Found
             
            </div>
            <table *ngIf="AllPODHeaders?.length" mat-table [dataSource]="PODataSource" matSort>
              <ng-container matColumnDef="InvoiceNumber">
                <th mat-header-cell *matHeaderCellDef> Invoice Number </th>
                <td mat-cell *matCellDef="let element;let odd=odd" class="tableLeftBorder pl-0">
                  <div fxLayout>
                    <div class="tableCellBorder" [style.background-color]="odd?'#6f52ed':'#d87e39'"></div>
                    <div fxFlex class="pl-4">
                      <span class="cursorPointer"
                        (click)="GotoPODDetails(element.InvoiceNumber)">{{element.InvoiceNumber}}</span>
                    </div>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="InvoiceDate">
                <th mat-header-cell *matHeaderCellDef> Invoice Date </th>
                <td mat-cell *matCellDef="let element">
                  {{element.InvoiceDate | date :'dd/MM/yyyy'}} </td>
              </ng-container>

              <ng-container matColumnDef="Amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let element" class="QtyClass">
                  {{element.Amount}}
                </td>
              </ng-container>

              <ng-container matColumnDef="Currency">
                <th mat-header-cell *matHeaderCellDef> Currency </th>
                <td mat-cell *matCellDef="let element">
                  {{element.Currency}}
                </td>
              </ng-container>
              <ng-container matColumnDef="DocNumber">
                <th mat-header-cell *matHeaderCellDef> Document Number </th>
                <td mat-cell *matCellDef="let element">
                  {{element.DocNumber}}
                </td>
              </ng-container>


              <ng-container matColumnDef="TruckNumber">
                <th mat-header-cell *matHeaderCellDef> Truck Number </th>
                <td mat-cell *matCellDef="let element">
                  {{element.TruckNumber}}
                </td>
              </ng-container>

              <ng-container matColumnDef="Transporter">
                <th mat-header-cell *matHeaderCellDef> Transporter </th>
                <td mat-cell *matCellDef="let element">
                  {{element.Transporter}}
                </td>
              </ng-container>

              <ng-container matColumnDef="VessleNumber">
                <th mat-header-cell *matHeaderCellDef> Vessle Number </th>
                <td mat-cell *matCellDef="let element">
                  {{element.VessleNumber}}
                </td>
              </ng-container>

              <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">
                  {{element.Status}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="PODDisplayedColumns;sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: PODDisplayedColumns;let even=even">
              </tr>
            </table>
         
              <mat-paginator [ngStyle]="AllPODHeaders?.length ?  {'visibility': 'visible'} : {'visibility': 'hidden'}" [pageSizeOptions]="[10,50,100,250,500,1000]"></mat-paginator>
         
          </div>
        </div>
      </mat-card>
    </div> -->

    <mat-progress-spinner *ngIf="IsProgressBarVisibile || IsProgressBarVisibile1" class="progressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="IsProgressBarVisibile || IsProgressBarVisibile1">
    </div>

  </div>
</div>
