<div id="cusdash" class="page-layout carded fullwidth">
  <div class="center">
    <div class="outer" fxLayout>
      <div class="bg"></div>
      <div fxLayout="row">
        <h3 class="head1"><b>WELCOME</b></h3>
        <h3 class="user"><b>{{authenticationDetails?.DisplayName | uppercase}}</b></h3>
      </div>
      <div fxFlex align="end">
        <span><img src="assets/images/logo.svg" class="logoClass"></span>
      </div>
    </div>
    <div class="content-card1" fxLayoutGap="15px" style="background-color: #F1F1F6;overflow-y:hidden ;">
      <!-- <div fxLayout fxLayoutGap="15px" style="margin-top: 0px;background-color: #F1F1F6;"> -->
      <!-- First Div -->
      <mat-card fxFlex="30" class="side-bar p-0" fusePerfectScrollbar>
        <div class="sidenav-content" fxFlex>
          <div fxLayout="column" fxLayoutGap="15px">

            <mat-card fxFlex="100%" style="padding: 10px;">
              <mat-card-content>
                <div style="background-color: #f2f7fe;">
                  <div fxFlex fxLayout="column">
                    <div fxFlex>
                      <div fxLayout="row" fxLayoutGap="20px" style="padding:10px 10px 0px 10px">
                        <div fxFlex>
                          <h6>OUTSTANDING INVOICE</h6>
                        </div>
                        <div fxFlex>
                          <h6 style="padding-left: 25px;">AVAILABLE CREDITS</h6>
                        </div>
                      </div>
                    </div>
                    <div fxFlex>
                      <div fxLayout="row" fxLayoutGap="20px" style="padding:10px 10px 10px 10px">
                        <div fxFlex>
                          <h2 style="font-weight: 500;color:#fea320 ;">
                            ₹{{SelectedBPCFact.OutstandingAmount}}</h2>
                        </div>
                        <div fxFlex>
                          <h2 style="font-weight: 500;color:#29a747; padding-left: 25px;">
                            ₹{{SelectedBPCFact.CreditBalance}}</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <table style="width: 100%;">
                    <tr>
                      <td>
                        <h6 style="padding:10px 0px 0px 10px">OUTSTANDING INVOICE</h6>
                      </td>
                      <td style="text-align: left;">
                        <h6 style="padding:10px 10px 0px 10px">AVAILABLE CREDITS</h6>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h2 style="padding:5px 0px 0px 10px;font-weight: 500;color:#fea320 ;">
                          ₹{{SelectedBPCFact.OutstandingAmount}}</h2>
                      </td>
                      <td style="text-align: left;">
                        <h2 style="padding:5px 10px 0px 10px;font-weight: 500;color:#29a747">
                          ₹{{SelectedBPCFact.CreditBalance}}</h2>
                      </td>
                    </tr>
                  </table> -->
                </div>
                <div>
                  <table style="width: 100%;">
                    <tr>
                      <td>
                        <h4 style="padding:10px 0px 0px 0px">Last Payment Received</h4>
                      </td>
                      <!-- <td>
                      </td> -->
                    </tr>
                    <tr>
                      <td>
                        <h2 class="pt-4" style="font-weight:500;">₹{{SelectedBPCFact.LastPayment}}</h2>
                      </td>
                      <td style="text-align: right;">
                        <span>Payment on</span>
                      </td>
                    </tr>
                    <tr>
                      <td> <span class="pt-4">Received for <span
                            style="color:deepskyblue;">{{SelectedBPCFact.CreditAmount}}</span></span>
                      </td>
                      <td style="text-align: right;">
                        <span><b>{{SelectedBPCFact.LastPaymentDate | date :'dd/MM/yy'}}</b></span>
                    </tr>
                  </table>
                </div>
              </mat-card-content>
            </mat-card>

            <mat-card fxFlex="100%" style="padding: 10px;">
              <!-- <mat-card-content> -->
              <h2 style="padding:0px 0px 5px 5px;"><strong>{{SelectedBPCFact.Company}}</strong></h2>
              <h6 style="padding:5px 0px 5px 5px;">{{SelectedBPCFact.Email1}}</h6>
              <h5 style="padding:5px 0px 5px 5px;"> <span><img src="assets/images/phone-call.svg"> </span>
                {{SelectedBPCFact.Phone1}}
              </h5>
              <h5 style="padding:5px 0px 5px 5px;"> <span><img src="assets/images/noun_mobile phone_117228.svg"> </span>
                {{SelectedBPCFact.Phone2}}
              </h5>
              <!-- <h5 style="padding:5px 0px 5px 5px;">Vendor Type : <strong>{{SelectedBPCFact.Type}}</strong></h5> -->
              <hr>
              <h6 style="padding:5px 0px 5px 5px;"><strong> GST Information</strong></h6>
              <h5 style="padding:5px 0px 5px 5px;">GST Treatment : <strong>Registered Business - Regular</strong></h5>
              <h5 style="padding:5px 0px 5px 5px;">Business GSTIN : <strong>{{SelectedBPCFact.TaxID1}}</strong></h5>
              <!-- </mat-card-content> -->
            </mat-card>

            <!-- <mat-card fxFlex="100%" style="padding: 10px;background-color: #e6e6e6 !important;">
                <mat-card-content>
                  <div fxFlex fxLayout>
                    <div fxFlex fxLayoutAlign="start center">
                      <span class="viewMoreDetails">View more details/Change</span>
                    </div>
                    <div fxFlex fxLayoutAlign="end center">
                      <span><img src="assets/images/ellipsis.png" style="height: 25px;width: 40px;"></span>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card> -->

          </div>
        </div>
        <mat-card-actions class="m-0 cardActions">
          <div fxFlex fxLayout>
            <div fxFlex="75" fxLayoutAlign="start center">
              <span class="viewMoreDetails">View more details/Change</span>
            </div>
            <div fxFlex="25" fxLayoutAlign="end center">
              <span><img src="assets/images/ellipsis.png" style="height: 25px;width: 40px;"></span>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
      <!-- First Div -->

      <!-- Second Div -->
      <div fxFlex="40" fusePerfectScrollbar>
        <div fxLayout="column" fxLayoutGap="15px" style="height: 100%;padding-top: 15px;">
          <mat-card fxFlex="50%" style="padding: 10px;">
            <mat-card-content class="staySafe">
              <div class="translucentDiv">
                <div>
                  <ul>
                    <li><b>1. STAY </b>home</li>
                    <li><b>2. KEEP </b>a safe distance</li>
                    <li><b>3. WASH </b>hands often</li>
                    <li><b>4. COVER </b>your cough</li>
                    <li><b>5. SICK? </b>Call the helpline</li>
                  </ul>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card fxFlex="50%" style="padding: 10px;">
            <mat-card-content class="safetyFirst">
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <!-- Second Div -->

      <!-- Third Div -->
      <div fxFlex="30" style="height: 100%;background-color: white;">
        <div fxLayout="column" style="padding: 15px 15px 10px 15px;">
          <div fxFlex>
            <h2 style="font-weight: 500;margin: 0px;"><span style="margin:0px 5px 0px 0px;"><img style="width: 32px;
                height: 32px; margin-top: 5px;" src="assets/images/bot.png"></span>
              Suggested Actions
              <span>
                <button style="height: 25px;width: 40px;float: right;" mat-icon-button [matMenuTriggerFor]="menu"
                  aria-label="Example icon-button with a menu">
                  <mat-icon style="font-size: 34px !important;">more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <!-- <button mat-menu-item (click)="onAcceptAllButtonClicked()">
                    <mat-icon>done_all</mat-icon>
                    <span>Approve All</span>
                  </button> -->
                  <button mat-menu-item (click)="onClearAllButtonClicked()">
                    <mat-icon>notifications_off</mat-icon>
                    <span>Clear All</span>
                  </button>
                </mat-menu>
              </span>
            </h2>
          </div>
          <hr class="rightFlexHr">
          <div fxFlex>
            <mat-tab-group (selectedTabChange)="tabChanged($event)">
              <!-- <mat-tab label="Action ({{AllActions?.length}})"> -->
              <mat-tab label="Action">
                <div class="mat-tab-body-content" fusePerfectScrollbar>
                  <mat-card class="actionBg" fxLayout="column">
                    <div>{{ 'Credit limit Increase Request' | uppercase }}</div>
                    <div fxFlex fxLayoutAlign="end end">
                      <!-- <button class="actionBtn" (click)="CreditLimitIncreaseClicked()" mat-raised-button>Proceed</button> -->
                      <div (click)="CreditLimitIncreaseClicked()" class="ProceedLink">Proceed</div>
                    </div>

                  </mat-card>
                  <!-- <mat-card *ngFor="let aIACTByPartnerID of AllActions" fxFlex="100%" fxLayout="column"
                    class="rightBorder"
                    style="height: 80px;margin: 20px 5px 5px 2px;padding: 10px;border-color:#67c18b;">
                    <mat-card-content>
                      <h5 style="padding:5px 0px 5px 5px;">PO <strong>{{aIACTByPartnerID.DocNumber}} </strong>
                      </h5>
                      <i
                        style="padding:5px 0px 5px 5px;font-size: smaller;">{{aIACTByPartnerID.Date | date:'dd/MM/yy'}},{{aIACTByPartnerID.Time}}</i>
                      <button (click)="ActionTextClicked(aIACTByPartnerID)" mat-raised-button
                        style="float:right;height:32px;background-color:#efb577;color: white; cursor: pointer;">{{aIACTByPartnerID.ActionText}}</button>
                    </mat-card-content>
                  </mat-card> -->
                </div>
                <!-- <mat-card fxFlex="100%" class="rightBorder"
                    style="height: 80px;margin: 20px 5px 5px 2px;padding: 10px;border-color:#67c18b;">
                    <mat-card-content>
                      <h5 style="padding:5px 0px 5px 5px;">PO <strong>12345 </strong>to be accepted</h5>
                      <i style="padding:5px 0px 5px 5px;font-size: smaller;">Today,04:32 PM</i>
                      <button mat-raised-button
                        style="float:right;height:32px;background-color:#efb577;color: white;">Accept</button>
                    </mat-card-content>
                  </mat-card>
                  <mat-card fxFlex="100%" class="rightBorder"
                    style="height: 80px;margin: 20px 5px 5px 2px;padding: 10px;border-color:#67c18b;">
                    <mat-card-content>
                      <h5 style="padding:5px 0px 5px 5px;">PO <strong>12345 </strong>to be accepted</h5>
                      <i style="padding:5px 0px 5px 5px;font-size: smaller;">Today,04:32 PM</i>
                      <button mat-raised-button
                        style="float:right;height:32px;background-color:#efb577;color: white;">View</button>
                    </mat-card-content>
                  </mat-card>
                  <mat-card fxFlex="100%" class="rightBorder"
                    style="height: 80px;margin: 20px 5px 5px 2px;padding: 10px;border-color:#eb6767;">
                    <mat-card-content>
                      <h5 style="padding:5px 0px 5px 5px;">PO <strong>12345 </strong>to be accepted</h5>
                      <i style="padding:5px 0px 5px 5px;font-size: smaller;">Today,04:32 PM</i>
                      <button mat-raised-button
                        style="float:right;height:32px;background-color:#efb577;color: white;">View</button>
                    </mat-card-content>
                  </mat-card>
                  <mat-card fxFlex="100%" class="rightBorder"
                    style="height: 80px;margin: 20px 5px 5px 2px;padding: 10px;border-color:#eb6767;">
                    <mat-card-content>
                      <h5 style="padding:5px 0px 5px 5px;">PO <strong>12345 </strong>to be accepted</h5>
                      <i style="padding:5px 0px 5px 5px;font-size: smaller;">Today,04:32 PM</i>
                      <button mat-raised-button
                        style="float:right;height:32px;background-color:#efb577;color: white;">Accept</button>
                    </mat-card-content>
                  </mat-card>
                  <mat-card fxFlex="100%" class="rightBorder"
                    style="height: 80px;margin: 20px 5px 5px 2px;padding: 10px;border-color:#67c18b;">
                    <mat-card-content>
                      <h5 style="padding:5px 0px 5px 5px;">PO <strong>12345 </strong>to be accepted</h5>
                      <i style="padding:5px 0px 5px 5px;font-size: smaller;">Today,04:32 PM</i>
                      <button mat-raised-button
                        style="float:right;height:32px;background-color:#efb577;color: white;">Accept</button>
                    </mat-card-content>
                  </mat-card> -->
              </mat-tab>
              <mat-tab label="Notifications ({{AllOffers?.length}})">
                <div class="mat-tab-body-content" fusePerfectScrollbar>
                  <div fxLayout="row wrap" @list *ngIf="SelectedTabIndex===1"
                    style="overflow-x: hidden;overflow-y: hidden;">
                    <div @items *ngFor="let offer of AllOffers;let index=index" class="offerContainer" fxFlex="100">
                      <mat-card class="offerCard m-8 p-8" fxLayout fxLayoutAlign="space-between center">
                        <div fxFlex class="title p-16">
                          <div fxLayout="column" fxLayoutAlign="center center">
                            <div> {{offer.ConditionType}}</div>
                            <div class="discount"> Discount</div>
                          </div>
                        </div>
                        <!-- <div class="divider"></div> -->
                        <div fxFlex fxLayout="column" class="subtitle">
                          <div class="py-4">on {{offer.Material}}</div>
                          <div class="py-4">* above {{offer.Amount}} {{offer.Currency}}</div>
                        </div>
                      </mat-card>
                    </div>

                  </div>
                  <!-- <mat-card *ngFor="let aIACTByPartnerID of AllNotifications" fxFlex="100%" fxLayout="column"
                    class="rightBorder"
                    style="height: 80px;margin: 20px 5px 5px 2px;padding: 10px;border-color:#67c18b;">
                    <mat-card-content>
                      <h5 style="padding:5px 0px 5px 5px;">PO <strong>{{aIACTByPartnerID.DocNumber}}</strong> is
                        {{aIACTByPartnerID.Status}}
                      </h5>
                      <i style="padding:5px 0px 5px 5px;font-size: smaller;">{{aIACTByPartnerID.Date |
                        date:'dd/MM/yy'}},{{aIACTByPartnerID.Time}}</i>
                    </mat-card-content>
                  </mat-card> -->
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>

      </div>
      <!-- Third Div -->

      <!-- <div fxFlex fxLayout class="theme-options-button">
          <div fxFlex="33%" fxLayoutAlign="start center" style="padding-left: 10px;">
            <span class="viewMoreDetails">View more details/Change</span>
          </div>
          <div fxFlex="33%" fxLayoutAlign="start center">
          </div>
          <div fxFlex="33%" fxLayoutAlign="end center" style="padding-right: 10px;">
            <span><img src="assets/images/ellipsis.png" style="height: 25px;width: 40px;"></span>
          </div>
        </div> -->
      <!-- </div> -->
    </div>
  </div>
  <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
  </mat-progress-spinner>
  <div id="overlay" *ngIf="IsProgressBarVisibile">
  </div>
</div>