<div id="ceomsg" class="page-layout carded fullwidth">
  <div class="center">
    <div class="outer" fxLayout>
      <div class="bg"></div>
      <div>
        <h3 style="margin: 0px;padding-left: 10px;"><b>Invoice List</b></h3>
      </div>
      <div fxFlex align="end">
        <span><img src="assets/images/logo.svg" style="height: 40px;padding: 4px 15px 2px 0px;"></span>
      </div>
    </div>
    <div fxLayout class="content-card1">
    </div>
    <!-- <mat-progress-spinner *ngIf="isProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="isProgressBarVisibile">
    </div> -->
  </div>
</div>

