@import "src/@fuse/scss/fuse";

#supsupportdesk {
  .progressBarPostion {
    position: absolute !important;
    top: 350px;
    z-index: 1;
    left: 55%;
  }
  .center {
    // padding: 20px !important;
    background-color: white;
    height: 100% !important;
  }
  @mixin TableBorderRight($color) {
    border-right: 1px solid $color;
  }

  .outer {
    border-bottom: 1px solid rgba(255, 85, 0, 0.1);
    position: relative;
    z-index: 1;
    .bg {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("../../../../assets/images/header_2.png");
      opacity: 0.1;
      background-repeat: no-repeat;
    }
    width: 100%;
    object-fit: contain;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
  }
  @mixin TableBorderRight($color) {
    border-right: 1px solid $color;
  }
  .TablePadFont {
    padding: 5px;
    font-size: 12px;
    min-width: 100px !important;
  }
  .TableCommon {
    padding: 5px;
    font-size: 12px;
    min-width: 50px !important;
    white-space: nowrap;
  }
  table {
    width: 100%;

    th {
      @include TableBorderRight(gray);
      @extend .TableCommon;
      // min-width: max-content !important;
      color: white;
      background-color: #121214;
    }

    td {
      @include TableBorderRight(rgba(0, 0, 0, 0.12));
      @extend .TableCommon;
      // min-width: max-content !important;
      &.QtyClass {
        text-align: right;
      }
      .mat-form-field-underline {
        display: none;
      }
    }

    tr {
      height: 40px;
    }

    .mat-sort-header-container {
      display: flex;
      // justify-content: center;
    }
  }
  .abnormal {
    .mat-form-field-flex > .mat-form-field-infix {
      padding: 0.3em 0px !important;
    }
    .mat-form-field-label-wrapper {
      top: -1.5em;
    }
    .mat-form-field-wrapper {
      margin: 0 !important;
      padding-bottom: 4px !important;
      padding-top: 4px !important;
    }
    .mat-form-field-appearance-outline .mat-form-field-flex {
      padding: 0 0.4em 0 0.4em;
    }
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.1em) scale(0.75);
      width: 133.33333%;
    }
    .mat-form-field-outline-start,
    .mat-form-field-outline-end {
      border-radius: 0 !important;
    }
  }
  .tableLeftBorder {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }
  .tableCellBorder {
    height: 20px;
    vertical-align: middle;
    width: 10px;
    background-color: #d87e39;
    opacity: 0.7;
  }

  // .TablePadFont {
  //   padding: 5px;
  //   font-size: 12px;
  //   min-width: 100px !important;
  // }

  // table {
  //   width: 100%;

  //   th {
  //     @include TableBorderRight(gray);
  //     @extend .TablePadFont;
  //     color: white;
  //     background-color: #121214;
  //   }

  //   td {
  //     @include TableBorderRight(rgba(0, 0, 0, 0.12));
  //     @extend .TablePadFont;
  //     font-size: 12px;
  //     max-width: 25px !important;
  //     text-align: center;
  //     color: black;
  //     min-width: max-content !important;
  //   }

  //   tr {
  //     height: 40px;
  //   }

  //   .mat-sort-header-container {
  //     display: flex;
  //     justify-content: center;
  //   }
  // }
  // .tableLeftBorder {
  //   border-left: 1px solid rgba(0, 0, 0, 0.12);
  // }
  // .tableCellBorder {
  //   height: 20px;
  //   vertical-align: middle;
  //   width: 10px;
  //   background-color: #d87e39;
  //   opacity: 0.7;
  // }
  .boldClass {
    font-weight: bold;
  }
  .statusFont{
    @extend .boldClass;
    font-size: medium;
  }
  .orangeBorderBottom {
    border-bottom: 2px solid #efb577;
  }
  .Btn1 {
    border-color: #efb577;
    background-color: #efb577;
    color: white;
    border-radius: 5px;
    width: 200px !important;
    height: 45px;
    // position: fixed !important;
    // bottom: 50px !important;
  }
  .Btn2 {
    border-color: #efb577;
    background-color: #efb577;
    color: white;
    position: fixed !important;
    bottom: 50px !important;
  }

  .rightFlexHr {
    margin: 0px;
    width: 12%;
    height: 3px;
    background-color: #efb577;
    border: none;
  }

  .float-add-button {
    position: fixed;
    bottom: 80px !important;
  }
  [hidden] {
    display: none !important;
  }
}
