<div id="po-flip" class="page-layout carded fullwidth">
  <div class="center">
    <div class="outer" fxLayout>
      <div class="bg"></div>
      <div>
        <h3 style="margin: 0px;padding-left: 10px;"><b>Upload Invoice</b></h3>
      </div>
      <div fxFlex align="end">
        <span><img src="../../../../assets/images/logo.svg" style="height: 40px;padding: 4px 15px 2px 0px;"></span>
      </div>
    </div>
    <div fxLayout class="content-card1">
      <div fxFlex="23" class="side-bar" style="background-color: #f5f5f5">
        <div class="sidenav-header">
          <mat-toolbar>
            <mat-toolbar-row fxLayout="row" class="px-8" fxLayoutAlign="space-between center">
              <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <input [(ngModel)]="searchText" type="text" placeholder="Search" fxFlex>
                  <mat-icon class="s-16">search</mat-icon>
                </div>
              </div>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
        <div class="sidenav-content" fusePerfectScrollbar fxFlex>
          <div *ngFor="let flip of flips | filter: searchText">
            <div>
              <div class="mx-8 mb-16 mt-0 p-8 leftCard" (click)="loadSelectedFlip(flip,'Side-bar-Filp')"
                [style.border-left-color]="selectedFLIPID==flip.FLIPID?'#efb577':'#cccccc'">
                <div fxLayout class="py-4" fxLayoutAlign="space-between center">
                  <div fxFlex><strong>{{flip.FLIPID}}</strong></div>
                  <div fxFlex align="end">{{flip.InvoiceDate | date :'dd/MM/yyyy'}}</div>
                </div>
                <!-- <div fxLayout class="py-4" fxLayoutAlign="space-between center">
                  <div fxFlex><strong>PO : </strong>{{flip.DocNumber}}</div>
                </div> -->
                <div fxLayout class="py-4" fxLayoutAlign="space-between center">
                  <div fxFlex><strong>Invoice No : </strong>{{flip.InvoiceNumber}}</div>
                </div>
                <!-- <div fxLayout class="py-4" fxLayoutAlign="space-between center">
                  <div fxFlex>{{flip.InvoiceAmount}}</div>
                </div> -->
              </div>
            </div>
          </div>
          <div *ngIf="(flips | filter: searchText)?.length === 0" class="no-results-message">
            <span class="pl-12"> No results..</span>
          </div>
        </div>
        <div class="borderRight1"></div>
      </div>
      <mat-card fxFlex="77" class="side-bar p-0">
        <div class="sidenav-content" fxFlex fxLayout="column">
          <div fxFlex fxLayout="column" class="p-0 pt-8">
            <div fxFlex class="px-12 mt-4">
              <form autocomplete="off" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px" fxFlex="1 0 auto"
                name="form" novalidate [formGroup]="flipFormGroup">
                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="50px">
                  <div fxFlex="33" style="display: none;">
                    <mat-form-field style="width: 100%;">
                      <input matInput placeholder="Doc Number" formControlName="DocumentNumber">
                      <mat-error
                        *ngIf="flipFormGroup.get('DocumentNumber').touched && flipFormGroup.get('DocumentNumber').hasError('required')">
                        Doc Number is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="33">
                    <mat-form-field style="width: 100%;">
                      <input matInput placeholder="GSTIN Number" formControlName="GSTIN">
                      <mat-error
                        *ngIf="flipFormGroup.get('GSTIN').touched && flipFormGroup.get('GSTIN').hasError('required')">
                        GSTIN Number is required
                      </mat-error>
                      <mat-error *ngIf="flipFormGroup.get('GSTIN').hasError('pattern')">
                        Please Enter Valid GST Number
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="33">
                    <mat-form-field style="width: 100%;">
                      <input matInput placeholder="Invoice No (16 Char)" formControlName="InvoiceNumber">
                      <mat-error
                        *ngIf="flipFormGroup.get('InvoiceNumber').touched && flipFormGroup.get('InvoiceNumber').hasError('required')">
                        Invoice Number is required
                      </mat-error>
                      <mat-error *ngIf="flipFormGroup.get('InvoiceNumber').touched && !flipFormGroup.get('InvoiceNumber').hasError('required')
                      &&flipFormGroup.get('InvoiceNumber').hasError('pattern')">
                        Please enter valid Invoice Number
                      </mat-error>
                      <mat-error *ngIf="flipFormGroup.get('InvoiceNumber').touched && !flipFormGroup.get('InvoiceNumber').hasError('required')
                    &&(flipFormGroup.get('InvoiceNumber').hasError('minlength'))">
                        Minimum allowed character is 10
                      </mat-error>
                      <mat-error *ngIf="flipFormGroup.get('InvoiceNumber').touched && !flipFormGroup.get('InvoiceNumber').hasError('required')
                      &&(flipFormGroup.get('InvoiceNumber').hasError('maxlength'))">
                        Maximum allowed character is 16
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="33">
                    <mat-form-field style="width: 100%;">
                      <input matInput placeholder="Date" [matDatepicker]="picker1" formControlName="InvoiceDate"
                        [max]="maxDate">
                      <mat-datepicker-toggle matSuffix [for]="picker1">
                        <img matDatepickerToggleIcon class="calendarImg" src="assets/images/calendar.png">
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                      <mat-error
                        *ngIf="flipFormGroup.get('InvoiceDate').touched && flipFormGroup.get('InvoiceDate').hasError('required')">
                        Date is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="33" fxLayoutGap="30px">
                    <div fxFlex="65">
                      <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Invoice Amount" formControlName="InvoiceAmount"
                          (keydown)="decimalOnly($event)" readonly>
                        <mat-error
                          *ngIf="flipFormGroup.get('InvoiceAmount').touched && flipFormGroup.get('InvoiceAmount').hasError('required')">
                          Invoice Amount is required
                        </mat-error>
                        <mat-error *ngIf="flipFormGroup.get('InvoiceAmount').touched && !flipFormGroup.get('InvoiceAmount').hasError('required')
                        &&flipFormGroup.get('InvoiceAmount').hasError('pattern')">
                          Enter a valid amount
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex="35">
                      <mat-form-field style="width: 100%;">
                        <mat-select (selectionChange)="invoiceCurrencySelected($event)" placeholder="Cur"
                          formControlName="InvoiceCurrency">
                          <mat-option *ngFor="let currency of currencies" [value]="currency.CurrencyCode">
                            {{currency.CurrencyCode}}
                          </mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="flipFormGroup.get('InvoiceCurrency').touched && flipFormGroup.get('InvoiceCurrency').hasError('required')">
                          Currency is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="50px">
                  <div fxFlex="33.33">
                    <mat-form-field style="width: 100%;">
                      <mat-select placeholder="Invoice Type" (selectionChange)="invoiceTypeSelected($event)"
                        formControlName="InvoiceType">
                        <mat-option *ngFor="let invoiceType of invoiceTypes" [value]="invoiceType">{{invoiceType}}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="flipFormGroup.get('InvoiceType').touched && flipFormGroup.get('InvoiceType').hasError('required')">
                        Invoice Type is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="33.33" fxLayout="row" fxLayoutAlign="start center">
                    <img class="addBlueIcon" src="assets/images/addBlue.png" (click)="fileInput1.click()">
                    <span class="attachClass" (click)="fileInput1.click()">
                      Add Attachment
                    </span>
                    <input hidden type="file" #fileInput1 id="file" (change)="handleFileInput($event)"
                      accept="image/x-png,image/gif,image/jpeg,image/jpg,application/pdf" />
                    <div fxFlex class="m-8" fxLayout="column" *ngIf="fileToUpload" (click)="OpenAttachmentDialog()"
                      style="cursor: pointer !important;margin-left: 20px !important;">
                      <div fxFlex style="font-size: 10px; color: #1e8bed;
                      cursor: pointer;">{{fileToUpload?.name}}</div>
                      <div fxFlex style="font-size: 10px;">{{fileToUpload?.size}} KB</div>
                    </div>
                    <div *ngIf="!fileToUpload" fxFlex style="font-size: 10px; color: #1e8bed; margin-left: 20px;">
                      <span>No Attachment Found</span>
                    </div>
                  </div>
                  <!-- <div fxFlex="40">
                    <div fxFlex *ngIf="!invAttach?.AttachmentName"
                      (click)="GetInvoiceAttachment(invoiceAttachment?.name,invoiceAttachment)" class="pdfLinkClass pl-8">
                      {{invoiceAttachment?.name}}</div>
                    <div fxFlex *ngIf="invAttach?.AttachmentName"
                      (click)="GetInvoiceAttachment(invAttach?.AttachmentName)" class="pdfLinkClass pl-8">
                      {{invAttach?.AttachmentName}}
                    </div>
                  </div> -->
                  <div fxFlex="33.33" fxLayoutAlign="start center">
                    <mat-radio-group style="width: 100%;" formControlName="IsInvoiceOrCertified">
                      <mat-radio-button value="Credit Note">Credit Note</mat-radio-button>
                      <mat-radio-button value="Debit Note" style="margin-left: 10px;">Debit Note</mat-radio-button>
                      <mat-error
                        *ngIf="flipFormGroup.get('IsInvoiceOrCertified').touched && flipFormGroup.get('IsInvoiceOrCertified').hasError('required')">
                        Invoice CR/DB is required
                      </mat-error>
                    </mat-radio-group>
                  </div>
                </div>
              </form>
            </div>
            <div fxFlex fxLayout="column" fxLayoutGap="20px" class="px-12 mt-12">
              <div fxFlex>
                <span class="title"><strong>Other Cost</strong></span>
                <p [ngClass]="BGClassName?.layout?.navbar?.secondaryBackground" class="underline"></p>
              </div>
              <div fxFlex>
                <!-- 1stForm -->
                <form autocomplete="off" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="50px" fxFlex="1 0 auto"
                  name="form" novalidate [formGroup]="flipCostFormGroup">
                  <div fxFlex="32">
                    <mat-form-field style="width: 100%;">
                      <mat-select placeholder="Expense Type" formControlName="ExpenceType">
                        <mat-option *ngFor="let expenseType of expenseTypes" [value]="expenseType.ExpenseType">
                          {{expenseType.ExpenseType}}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="flipCostFormGroup.get('ExpenceType').touched && flipCostFormGroup.get('ExpenceType').hasError('required')">
                        Expense Type is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="32">
                    <mat-form-field style="width: 100%;">
                      <input matInput placeholder="Amount" formControlName="Amount" (keydown)="decimalOnly($event)">
                      <mat-error
                        *ngIf="flipCostFormGroup.get('Amount').touched && flipCostFormGroup.get('Amount').hasError('required')">
                        Amount is required
                      </mat-error>
                      <mat-error *ngIf="flipCostFormGroup.get('Amount').touched && !flipCostFormGroup.get('Amount').hasError('required')
                      &&flipCostFormGroup.get('Amount').hasError('pattern')">
                        Enter a valid amount
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="32">
                    <mat-form-field style="width: 100%;">
                      <input matInput placeholder="Remarks" formControlName="Remarks">
                      <mat-error
                        *ngIf="flipCostFormGroup.get('Remarks').touched && flipCostFormGroup.get('Remarks').hasError('required')">
                        Remarks is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="4" fxLayoutAlign="end">
                    <img class="addIcon" src="assets/images/logos/add-button.png" (click)="addFlipCostToTable()">
                  </div>
                </form>
              </div>
              <div fxFlex>
                <div style="overflow-x:auto;">
                  <!-- 1stTable -->
                  <table class="table" mat-table [dataSource]="flipCostDataSource" matSort>
                    <ng-container matColumnDef="ExpenceType">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;"
                        [ngClass]="BGClassName?.layout?.toolbar?.background"> Type </th>
                      <td mat-cell *matCellDef="let element;let odd=odd" class="tableLeftBorder pl-0">
                        <div fxLayout>
                          <div class="tableCellBorder" [style.background-color]="odd?'#6f52ed':'#d87e39'"></div>
                          <div fxFlex class="pl-4">{{element.ExpenceType}} </div>
                        </div>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Amount">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;"
                        [ngClass]="BGClassName?.layout?.toolbar?.background"> Amount </th>
                      <td class="QtyClass" mat-cell *matCellDef="let element">
                        {{element.Amount}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Remark">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 39%;"
                        [ngClass]="BGClassName?.layout?.toolbar?.background"> Remark </th>
                      <td mat-cell *matCellDef="let element">
                        {{element.Remarks}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Action">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        [ngClass]="BGClassName?.layout?.toolbar?.background"> ... </th>
                      <td mat-cell *matCellDef="let element">
                        <img class="m-8" style="height: 20px;" src="assets/images/line.png"
                          (click)="removeFlipCostFromTable(element)">
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="flipCostDisplayedColumns;sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: flipCostDisplayedColumns;let i=index;let even=even"
                      style=" cursor: pointer;" (click)="SelectFlipCostTable(i,row)">
                    </tr>
                  </table>
                  <div flex fxLayoutAlign="center center" class="TableFooter" style="margin-top: 20px;"
                    *ngIf="!flipCosts?.length">
                    <mat-icon svgIcon="infoIcon" style="color: #1b56ca;">
                    </mat-icon>
                    <span style="margin-left: 10px;">The table does not contain any records</span>
                  </div>
                </div>
                <!-- <div flex *ngIf="flipCosts?.length">
                  <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" showFirstLastButtons>
                  </mat-paginator>
                </div> -->
              </div>
            </div>
            <div fxFlex fxLayout="column" fxLayoutGap="20px" class="px-12 mt-12">

              <!-- FullFlip Button -->
              <!-- <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                </div>
                <div fxFlex align="end">
                  <button class="Btn" (click)="addFlipItemAfterCalculationToTable()" mat-stroked-button>Full
                    Filp</button>
                </div>
              </div> -->


              <!-- <div fxFlex>
                <div style="overflow-x:auto;">
                  <table *ngIf="PODetails?.length" class="table" mat-table [dataSource]="poDetailsDataSource" matSort>

                    <ng-container matColumnDef="PO">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> PO </th>
                      <td mat-cell *matCellDef="let element;let odd=odd" class="tableLeftBorder pl-0">
                        <div fxLayout>
                          <div class="tableCellBorder" [style.background-color]="odd?'#6f52ed':'#d87e39'"></div>
                          <div fxFlex class="pl-4">{{element.PO}} </div>
                        </div>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="MaterialTxt">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> MaterialTxt </th>
                      <td mat-cell *matCellDef="let element">
                        {{element.MaterialTxt}} </td>
                    </ng-container>

                    <ng-container matColumnDef="HSN">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> HSN </th>
                      <td mat-cell *matCellDef="let element">
                        {{element.HSN}} </td>
                    </ng-container>


                    <ng-container matColumnDef="OpenQty">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> OpenQty </th>
                      <td class="QtyClass" mat-cell *matCellDef="let element">
                        {{element.OpenQty}} </td>
                    </ng-container>

                    <ng-container matColumnDef="InvoiceQty">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> InvoiceQty </th>
                      <td class="QtyClass" mat-cell *matCellDef="let element">
                        {{element.InvoiceQty}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Price">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                      <td class="QtyClass" mat-cell *matCellDef="let element">
                        {{element.Price}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Tax">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tax </th>
                      <td mat-cell *matCellDef="let element">
                        <span style="color:#ef8377">{{element.Tax}}</span> <img class="mt-4 ml-4" style="height: 7px;"
                          src="assets/images/play-button-arrowhead.png"> </td>
                    </ng-container>

                    <ng-container matColumnDef="Amount">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                      <td class="QtyClass" mat-cell *matCellDef="let element">
                        {{element.Amount}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Action">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> ... </th>
                      <td mat-cell *matCellDef="let element">
                        <img class="m-8" style="height: 20px;" src="assets/images/line.png"> </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="poDetailsDisplayedColumns;sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: poDetailsDisplayedColumns;let even=even" matRipple
                      style=" cursor: pointer;">
                    </tr>
                  </table>
                </div>
              </div> -->

              <div fxFlex fxLayout="column" style="margin-top: 30px !important;">
                <!-- 2nd Table Form -->
                <div fxFlex>
                  <form autocomplete="off" fxLayout="row wrap" fxLayoutAlign="start center"
                    name="form" novalidate [formGroup]="SecondTableFormGroup">
                    <!-- <div fxFlex="25" class="px-12">
                      <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Item" formControlName="Item">
                        <mat-error
                          *ngIf="SecondTableFormGroup.get('Item').touched && SecondTableFormGroup.get('Item').hasError('required')">
                          Item is required
                        </mat-error>
                      </mat-form-field>
                    </div> -->
                    <div fxFlex="25" class="px-12">
                      <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Item Description" formControlName="MaterialText">
                        <mat-error
                          *ngIf="SecondTableFormGroup.get('MaterialText').touched && SecondTableFormGroup.get('MaterialText').hasError('required')">
                          Item Description is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex="25" class="px-12">
                      <mat-form-field style="width: 100%;">
                        <input matInput placeholder="HSN" formControlName="HSN" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
                          <mat-option *ngFor="let hsn of filteredHsnMasters | async" [value]="hsn.HSNCode">
                            {{hsn.HSNCode}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error
                          *ngIf="SecondTableFormGroup.get('HSN').touched && SecondTableFormGroup.get('HSN').hasError('required')">
                          HSN is required
                        </mat-error>
                        <mat-error *ngIf="SecondTableFormGroup.get('HSN').touched && !SecondTableFormGroup.get('HSN').hasError('required')&&
                        SecondTableFormGroup.get('HSN').hasError('requireMatch')">HSN does not exists</mat-error>
                      </mat-form-field>
                    </div>
                    <!-- <div fxFlex="20">
                      <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Ordered Qty" formControlName="OrderedQty">
                        <mat-error
                          *ngIf="SecondTableFormGroup.get('OrderedQty').touched && SecondTableFormGroup.get('OrderedQty').hasError('required')">
                          OrderedQty is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex="20">
                      <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Open Qty" formControlName="OpenQty">
                        <mat-error
                          *ngIf="SecondTableFormGroup.get('OpenQty').touched && SecondTableFormGroup.get('OpenQty').hasError('required')">
                          OpenQty is required
                        </mat-error>
                      </mat-form-field>
                    </div> -->
                    <div fxFlex="25" class="px-12">
                      <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Invoice Qty" formControlName="InvoiceQty">
                        <mat-error
                          *ngIf="SecondTableFormGroup.get('InvoiceQty').touched && SecondTableFormGroup.get('InvoiceQty').hasError('required')">
                          InvoiceQty is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex="25" class="px-12">
                      <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Basic Amount" formControlName="Price" (blur)="CalculateAmount()">
                        <mat-error
                          *ngIf="SecondTableFormGroup.get('Price').touched && SecondTableFormGroup.get('Price').hasError('required')">
                          Basic Amount is required
                        </mat-error>
                        <mat-error *ngIf="SecondTableFormGroup.get('Price').touched && !SecondTableFormGroup.get('Price').hasError('required') &&
                        SecondTableFormGroup.get('Price').hasError('pattern')">
                          Enter a valid amount
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <!-- <div fxFlex="20"></div> -->
                    <div fxFlex="25" class="px-12">
                      <mat-form-field style="width: 100%;">
                        <mat-select placeholder="Tax Type" formControlName="TaxType">
                          <mat-option *ngFor="let taxType of taxTypes" [value]="taxType.TaxType">
                            {{taxType.TaxType}}
                          </mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="SecondTableFormGroup.get('TaxType').touched && SecondTableFormGroup.get('TaxType').hasError('required')">
                          Tax Type is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex="25" class="px-12">
                      <mat-form-field style="width: 100%;">
                        <input matInput placeholder="Tax Amount" formControlName="Tax" (blur)="CalculateAmount()">
                        <mat-error
                          *ngIf="SecondTableFormGroup.get('Tax').touched && SecondTableFormGroup.get('Tax').hasError('required')">
                          Tax is required
                        </mat-error>
                        <mat-error *ngIf="SecondTableFormGroup.get('Tax').touched && !SecondTableFormGroup.get('Tax').hasError('required') &&
                          SecondTableFormGroup.get('Tax').hasError('pattern')">
                          Enter a valid amount
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <!-- <div fxFlex="20"></div> -->
                    <div fxFlex="25" class="px-12" fxLayout>
                      <div fxFlex="80">
                        <mat-form-field style="width: 100%;">
                          <input matInput placeholder="Item Total Amount" formControlName="Amount" readonly>
                          <mat-error
                            *ngIf="SecondTableFormGroup.get('Amount').touched && SecondTableFormGroup.get('Amount').hasError('required')">
                            Item Total Amount is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div fxFlex="20" fxLayoutAlign="end">
                        <img class="addIcon" src="assets/images/logos/add-button.png" (click)="addTo2ndTable()">
                      </div>
                    </div>
                  </form>
                </div>
                <div style="overflow-x:auto;">
                  <table class="table" mat-table [dataSource]="flipItemDataSource" matSort>

                    <ng-container matColumnDef="Item">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        [ngClass]="BGClassName?.layout?.toolbar?.background"> Item </th>
                      <td mat-cell *matCellDef="let element;let odd=odd" class="tableLeftBorder pl-0">
                        <div fxLayout>
                          <div class="tableCellBorder" [style.background-color]="odd?'#6f52ed':'#d87e39'"></div>
                          <div fxFlex class="pl-4">{{element.Item}} </div>
                        </div>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="MaterialText">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        [ngClass]="BGClassName?.layout?.toolbar?.background"> Material Text </th>
                      <td class="QtyClass" mat-cell *matCellDef="let element">
                        {{element.MaterialText}} </td>
                    </ng-container>

                    <ng-container matColumnDef="HSN">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        [ngClass]="BGClassName?.layout?.toolbar?.background"> HSN </th>
                      <td mat-cell *matCellDef="let element">
                        {{element.HSN}} </td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="OrderedQty">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        [ngClass]="BGClassName?.layout?.toolbar?.background"> OrderedQty </th>
                      <td mat-cell *matCellDef="let element">
                        {{element.OrderedQty}} </td>
                    </ng-container> -->

                    <!-- <ng-container matColumnDef="OpenQty">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        [ngClass]="BGClassName?.layout?.toolbar?.background"> OpenQty </th>
                      <td mat-cell *matCellDef="let element">
                        {{element.OpenQty}} </td>
                    </ng-container> -->

                    <ng-container matColumnDef="InvoiceQty">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        [ngClass]="BGClassName?.layout?.toolbar?.background"> Invoice Qty </th>
                      <td mat-cell *matCellDef="let element">
                        {{element.InvoiceQty}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Price">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        [ngClass]="BGClassName?.layout?.toolbar?.background"> Basic Amount </th>
                      <td mat-cell *matCellDef="let element">
                        {{element.Price}} </td>
                    </ng-container>

                    <ng-container matColumnDef="TaxType">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        [ngClass]="BGClassName?.layout?.toolbar?.background"> Tax Type </th>
                      <td mat-cell *matCellDef="let element">
                        {{element.TaxType}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Tax">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        [ngClass]="BGClassName?.layout?.toolbar?.background"> Tax </th>
                      <td mat-cell *matCellDef="let element">
                        {{element.Tax}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Amount">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        [ngClass]="BGClassName?.layout?.toolbar?.background"> Item Total Amount </th>
                      <td mat-cell *matCellDef="let element">
                        {{element.Amount}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Action">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        [ngClass]="BGClassName?.layout?.toolbar?.background"> ... </th>
                      <td mat-cell *matCellDef="let element">
                        <img class="m-8" style="height: 20px;" src="assets/images/line.png"
                          (click)="removeFrom2ndTable(element)">
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="flipItemDisplayedColumns;sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: flipItemDisplayedColumns;let i=index,let even=even"
                      style=" cursor: pointer;" (click)="ItemTableClicked(i,row)">
                    </tr>
                  </table>
                  <div flex fxLayoutAlign="center center" class="TableFooter" style="margin-top: 20px;"
                    *ngIf="!flipItems?.length">
                    <mat-icon svgIcon="infoIcon" style="color: #1b56ca;">
                    </mat-icon>
                    <span style="margin-left: 10px;">The table does not contain any records</span>
                  </div>
                </div>
                <!-- <div flex
                  *ngIf="(poItems && poItems.length)|| (selectedFlipView?.flipItems && selectedFlipView?.flipItems?.length)">
                  <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" showFirstLastButtons>
                  </mat-paginator>
                </div> -->
              </div>
            </div>
            <!-- <div fxFlex fxLayout="column" class="mx-20 my-12">
              <div fxLayoutAlign="center">
                <button class="Btn1" mat-button [ngClass]="BGClassName?.layout?.navbar?.primaryBackground">Preview and
                  Download</button>
              </div>
            </div> -->
          </div>
        </div>
        <div fxLayoutAlign="end">
          <button mat-fab class="AddButton" (click)="CreateUploadInvoice()">
            <mat-icon class="iconAdd">add</mat-icon>
          </button>
        </div>
        <mat-card-actions class="m-0 pl-12 pr-16 card-actions">
          <div fxLayout fxFlex fxLayoutAlign="end">
            <button (click)="saveClicked()" *ngIf="!selectedFlip?.FLIPID" class="SaveBtn" mat-stroked-button>
              Save</button>
            <button (click)="deleteClicked()" *ngIf="selectedFlip?.FLIPID" mat-stroked-button
              class="DeleteBtn mr-4 mb-8" mat-raised-button>
              Delete</button>
            <button (click)="saveClicked()" *ngIf="selectedFlip?.FLIPID" class="SaveBtn" mat-raised-button
              [ngClass]="BGClassName?.layout?.navbar?.primaryBackground">
              Update</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <mat-progress-spinner *ngIf="isProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="isProgressBarVisibile">
    </div>
  </div>

</div>